<!DOCTYPE html>
<html style="height: 100%">
<head>
<base target="_blank">
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<title>Java基本数据类型</title>
<script src="/C0-S2-Ply-demo/_js/vue.min.js"></script>
<link href="/C0-S2-Ply-demo/_css/magiczoomplus.css" rel="stylesheet" type="text/css" media="screen"/>
<script src="/C0-S2-Ply-demo/_js/magiczoomplus.js"></script>
<link rel="stylesheet" type="text/css" href="/C0-S2-Ply-demo/_css/q.css">
<script type="text/javascript" src="/C0-S2-Ply-demo/_js/pub.js"></script>
</head>
<body>
<div style="display: none;" id="pres">
<!--
	<cbx :v="['AAA','BBB','CCC','DDD']" a="0123" s></cbx>
	<ipt a="正确答案" r="正则验证" w="宽度"></ipt>
	<judge t|f="内容" w="宽度"></judge>
	<prompt>
		<li><a href="#">参考	( 必须放在 qlist 前)</a></li>
	</prompt>
 -->
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
<pre>
<h3>基本数据类型简介</h3><pic s="_images/基本类型.png" class=qImg w=500>基本数据类型</pic>
<judge>数据类型用来确定要存储在内存单元中的数据的类型</judge>

在Java中，数据类型被区分成两个种类：
<cbx :v="['扩展数据类型'
	,'原始数据类型'
	,'引用数据类型'
	,'媒体数据类型']" a=12></cbx>
</pre>

<pre>
<h3>boolean类型</h3><pic s="_images/boolean.jpg" class=qImg w=500>boolean</pic>
<judge w>一个boolean类型的变量用来表示一个或真或假的关系</judge>
<judge w>一个 boolean类型变量的值必须是true或false二者之一 </judge>

下列哪些是不合法的boolean类型变量的定义：
<cbx :v='["boolean a = true;"
	,"boolean a = false;"
	,"boolean a = ture;"
	,"boolean a = \"false\";"
	,"boolean a = 真;"]' a=234 s></cbx>
</pre>

<pre>
<h3>数据类型的存储</h3><pic v-for="f of ['float.gif','double.gif','堆栈.jpg']" :s="'_images/'+f" class=qImg w=500>{{f.replace(/(.+)\.\w+/,"$1")}}</pic>
<h4>数据的存储结构</h4><judge w>不同数据类型的存储结构决定了它的取值访问</judge>
<judge w>整数类型: 1位符号位 + N位数值位, 所以取值范围是: -2^N ~ 2^N-1 ( N = 数据类型长度位数 - 1 )</judge>
<judge w>字符类型: 没有符号位, 所以取值范围是: 2^0 ~ 2^16 ==> 0 ~ 65535</judge>
<judge w>布尔类型: 只有 true 和 false</judge>
<judge w>浮点数类型: 1位符号位 + 8(or11)位指数位 + 23(or52)位尾数(小数)位</judge>
	<judge w=360>float的范围为: -2^128 ~ +2^127，<br>即: -3.40E+38 ~ +3.40E+38</judge>	
	<judge w=360>double的范围为: -2^1024 ~ +2^1023，<br>即: -1.79E+308 ~ +1.79E+308</judge>	

<h4>数据的存储位置</h4><judge w>类成员变量: 由于其属于对象的一部分，所以这些bds会随对象一起存储在heap中</judge>
<judge w>方法体变量: 由于其所占空间比较小而且是固定的，不存在动态扩展的问题，所以会被存储到stack中 </judge>
</pre>

<pre>
<h3>浮点型数据的运算</h3><pic v-for="f of ['浮点数.jpg']" :s="'_images/'+f" class=qImg w=500></pic>
<h4>精度问题</h4><judge w>在计算机中,浮点数虽然表示的范围很大，但是浮点数有个非常重要的特点，就是浮点数常常无法精确表示</judge>
     double x=1.0 / 10;
     double y=1-9.0 / 10;
     System.out.println(x);  // ==> 0.1
     System.out.println(y);  // ==> 0.09999999999999998

<judge w>Java的浮点数完全遵循<a href="https://baike.baidu.com/item/IEEE%20754/3869922">IEEE-754</a>标准，这也是绝大多数计算机平台都支持的浮点数标准表示方法。</judge>

<judge w>由于浮点数存在运算误差，所以比较两个浮点数是否相等常常会出现错误的结果。正确的比较方法是判断两个浮点数之差的绝对值是否小于一个很小的数：</judge>
	double x=1.0 / 10;
	double y=1-9.0 / 10;
	double r=Math.abs(x-y);
	if(r<0.00001) {
		System.out.println("true");
	} else {
		System.out.println("false");
	}
</pre>

<pre>
<h3>运算过程中的数据类型</h3><pic v-for="f of ['类型提升.jpg']" :s="'_images/'+f" class=qImg w=500></pic>
<h4>类型提升</h4><judge w>如果参与计算的两个数其中一个是整型，那么整型可以自动提升到浮点型</judge>
<judge w>在一个复杂的四则运算中，两个整数的运算不会出现自动提升的情况</judge>

<h4>byte加byte的结果为什么是int?</h4>	byte a=1;
	byte b=2;
	a = a + b;//编译错误，byte+byte的结果不是byte类型，提示需要强制转换int.
	a = (byte)(a + b);
原因 : 千言万语浓缩成一句话 —— 运算指令数量有限! 您老人家讲究着用吧! <a href="https://blog.csdn.net/ejiao1233/article/details/82292348">欲知详情点这里</a>

<!-- <h4>包装器类</h4><judge w>所有的基本类型都有一个与之对应的类，这些类称为包装器类。</judge>
<judge w>对象包装器类是不可改变的，即一旦构造类包装器类，就不允许更改包装在其中的值。</judge>
<judge w>同时，对象包装器类还是final，因此不能定义它们的子类。</judge>

下列关于自动拆箱／装箱正确的是:
<cbx :v='["自动装箱可以直接将基本类型数据赋值给其对应的包装器类型"
	,"自动装箱一定要类型严格匹配，包装器类型没有基本类型从小到大的转换"
	,"在赋值的地方，都可以发生自动拆箱与装箱"
	,"拆箱／装箱是在JDK1.7才开始支持"]' a=012 s></cbx> -->
</pre>

<pre>
<h3>包装器类</h3><pic v-for="f of []" :s="'_images/'+f" class=qImg w=500></pic>
<h4>java包装类的缓存机制</h4>
<judge w>java 包装类的缓存机制，是在Java 5中引入的一个有助于节省内存、提高性能的功能，只有在自动装箱时有效</judge>
<judge w>使用自动装箱将基本类型转为封装类对象这个过程其实底层实现是调用封装类的valueOf方法</judge>
<judge w>整数类型缓存默认范围为：-128到127之间，范围的最大值可以通过java.lang.Integer.IntegerCache.high设置，通过for循环将范围内的数据实例化为Integer对象放到cache数组里</judge>
<judge w>Character的缓存范围在0 ~ 127之间</judge>
<judge w>Boolean不需要缓存</judge>
<judge w>Float 和 Double没有使用缓存，直接new的对象</judge>

<h4>xxxValue, parseXXX, valueOf 的区别</h4>
</pre>

<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
</div>
<script type="text/javascript">
new Vue({el:"#pres"});
</script>
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->

<div id="main">
	<fieldset class="alist">
		<legend>答题结果</legend>
		<div style="display: table;width: 100%">
			<div style="display: table-cell;vertical-align: middle;">
				<span class="res" v-for="q,i in questions">
					题{{i+1}}: <b style="color: red">{{q.result?'对':''}}</b>
				</span>
			</div>
			<div style="display: table-cell; width: 150px; text-align: center;">
				<button @click="commit" :disabled="finish==false">提交答卷</button>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>题目: </legend>
		<prompt>
			<li><a href="https://blog.csdn.net/justloveyou_/article/details/52651211">Java 原生类型与包装器类型深度剖析</a></li>
			<li><a href="https://www.sohu.com/a/342131560_453160">终于有人把“Java的浮点数”讲得明明白白了</a></li>
			<li><a href="https://www.jianshu.com/p/7513c432c2e3">java中数据存储及比较的思考</a></li>
			<li><a href="https://www.cnblogs.com/minseo/p/11738475.html">Java之浮点数运算</a></li>
			<li><a href="https://blog.csdn.net/DeMonliuhui/article/details/84585945">Java 浮点数运算不准确的原因及解决方案</a></li>
			<li><a href="https://blog.csdn.net/ejiao1233/article/details/82292348">byte加byte的结果为什么是int？</a></li>
			<li><a href="https://www.cnblogs.com/myseries/p/12076828.html">java包装类的缓存机制</a></li>
		</prompt>
		<div class="qlist">
		<dl v-for="q,i in questions">
			<dt>第{{i+1}}题 <b style="color: red;">{{q.result?'对':''}}</b>
				<button @click="q.test()" style="float: right">检 查</button><br>
			</dt>
			<dd @click="a(q)">
				<pre v-html="q.content"></pre>
			</dd>
			<dd v-if="q.expect">
				正确的结果: <span>{{q.expect}}</span><br>
				你写的结果: <span>{{q.resultText}}</span>
			</dd>
		</dl>
		</div>
	</fieldset>
</div>
</body>
<script type="text/javascript" src="/C0-S2-Ply-demo/_js/q.js"></script>
</html>