<!DOCTYPE html>
<html style="height: 100%">
<head>
<base target="_blank">
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<title>练习题</title>
<script src="/C0-S2-Ply-demo/_js/vue.min.js"></script>
<script type="text/javascript" src="/C0-S2-Ply-demo/_js/axios.min.js"></script>
<link href="/C0-S2-Ply-demo/_css/magiczoomplus.css" rel="stylesheet" type="text/css" media="screen"/>
<script src="/C0-S2-Ply-demo/_js/magiczoomplus.js"></script>
<link rel="stylesheet" type="text/css" href="/C0-S2-Ply-demo/_css/q1.css">
<script type="text/javascript" src="/C0-S2-Ply-demo/_js/pub1.js"></script>
</head>
<body>
<div style="display: none;" id="pres">
<!--
	<ipt a="正确答案" r="正则验证" w="宽度"></ipt>
	<prompt>
		<li><a href="#">参考	( 必须放在 qlist 前)</a></li>
	</prompt>
 -->
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
<div>
<h3>内部类定义</h3>
	<c>在 Java 中，可以将一个类定义在另一个类里面或者一个方法里面，这样的类称为内部类。</c>
	<c v="成员内部类, 局部内部类 , 匿名内部类 ，静态内部类 ，派生内部类" a=1234 s>广泛意义上的内部类一般来说包括这四种:</c>
	<pic s="01-内部类定义.png,02-内部类访问外部类.png,03-成员冲突解决方法.png"></pic>
</div>

<div>
<h3>成员内部类</h3>
	<c>成员内部类是最普通的内部类，它的定义为位于另一个类的内部</c>
	<c v="成员内部类可以无条件访问外部类的所有成员属性, 
		成员内部类可以无条件访问外部类的所有成员方法 , 
		成员内部类可以无条件访问外部类的所有静态成员 ，
		当成员内部类拥有和外部类同名的成员变量或者方法时会发生隐藏现象 ，
		外部类想访问成员内部类的成员没有任何限制" a=1234 s>
		成员内部类的特点:
	</c>
	<c v="外部类.this.成员变量, 
		外部类.this.成员方法 , 
		外部类.super.成员方法，
		外部类.super.成员变量 " a=12 s>
		如果要访问外部类的同名成员，需要以下面的形式进行访问：
	</c>
	<c>在外部类中如果要访问成员内部类的成员，必须先创建一个成员内部类的对象，再通过指向这个对象的引用来访问</c>
	<c v="private, 
		protected , 
		public，
		default(包内友好),
		不能拥有访问权限 " a=1234 s>
		成员内部类可以拥有访问权限(访问作用域)：
	</c>
	<pic s="04-创建内部类对象1.png , 04-创建内部类对象2.png , "></pic>
</div>

<div>
<h3>局部内部类</h3>
	<c>局部内部类是定义在一个方法或者一个作用域里面的类</c>
	<c a=2345678 noteach="test">静态元素不能定义局部内部类</c>
	<c>局部内部类和成员内部类的区别在于, 局部内部类的访问仅限于方法内或者该作用域内</c>
	<c v="private, 
		protected , 
		public，
		default(包内友好),
		不能拥有访问权限 " a=5 s>
		局部内部类可以拥有访问权限(访问作用域)：
	</c>
	<pic s="05-局部内部类.png , "></pic>
</div>

<div>
<h3>匿名内部类</h3>
	<c>局部内部类是定义在一个方法或者一个作用域里面的类</c>
	<c>使用匿名内部类能够在实现父类或者接口中的方法情况下同时产生一个相应的对象</c>
	<c>局部内部类和成员内部类的区别在于, 局部内部类的访问仅限于方法内或者该作用域内</c>
	<c v="匿名内部类应该是平时我们编写代码时用得最多的; 
		在编写事件监听的代码时使用匿名内部类非常方便 ; 
		匿名内部类使代码更加容易维护;
		其他答案都是都错的,不解释;
		 " a=123 s spacer=";">
		 匿名内部类优势:
	</c>
	<c v="匿名内部类也是不能有访问修饰符和 static 修饰符的   ; 
		匿名内部类是唯一一种没有构造器的类    ; 
		大部分匿名内部类用于接口回调    ;
		匿名内部类在编译的时候由系统自动起名为 Outter$1.class  ;
		匿名内部类用于继承其他类或是实现接口，不允许增加额外的方法 " a=1234 s spacer=";">
		 关于匿名内部类使用, 说法正确的是:
	</c>
	<pic s="06-匿名内部类.png , "></pic>
</div>

<div>
<h3>静态内部类</h3>
	<c>静态内部类也是定义在另一个类里面的类，只不过在类的前面多了一个关键字static</c>
	<c>静态内部类是不需要依赖于外部类的，这点和类的静态成员属性有点类似</c>
	<c>静态内部类不能使用外部类的非static成员变量或者方法</c>
	<pic s="07-静态内部类定义.png , 07-静态内部类的限制.png , "></pic>
</div>

<div>
<h3>思考题</h3>
1.为什么成员内部类可以无条件访问外部类的成员？

2.为什么局部内部类和匿名内部类只能访问局部final变量？

3.静态内部类有特殊的地方吗？
</div>

<div>
<h3>编码练习题</h3>
请求下载 Test.java, 根据代码内的注释填写(1)，(2)，(3)处的代码, 使得程序能够正常的编译通过
<a href="_images/Test.java" download="Test.java">下载 Test.java</a>

请求下载 Test1.java, 要想在控制台输出下面内容, 请问要在程序中的(1)，(2)，(3)处填写什么代码？
2
3
1
<a href="_images/Test1.java" download="Test1.java">下载 Test1.java</a>
</div>

<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
</div>
<script type="text/javascript">
new Vue({el:"#pres"});
</script>
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->

<div id="main">
	<fieldset class="alist">
		<legend>答题结果</legend>
		<div style="display: table;width: 100%">
			<div style="display: table-cell;vertical-align: middle;">
				<span class="res" v-for="q,i in questions">
					题{{i+1}}: <b style="color: red">{{q.result?'对':''}}</b>
				</span>
			</div>
			<div style="display: table-cell; width: 150px; text-align: center;">
				<button @click="commit" :disabled="finish==false">提交答卷</button>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>题目: </legend>
		<prompt>
			<li><a href="https://www.runoob.com/w3cnote/java-inner-class-intro.html">Java 内部类详解</a></li>
			<li><a href="https://blog.csdn.net/w372426096/article/details/81664431">javap命令--这一篇全了解</a></li>
			<li><a href="https://www.cnblogs.com/yjbjingcha/p/6908932.html">为eclipse配置javap命令</a></li>
		</prompt>
		<div class="qlist">
		<dl v-for="q,i in questions">
			<dt>第{{i+1}}题 <b style="color: red;">{{q.result?'对':''}}</b>
				<button @click="q.test()" style="float: right">检 查</button><br>
			</dt>
			<dd @click="a(q)">
				<pre v-html="q.content"></pre>
			</dd>
			<dd v-if="q.expect">
				正确的结果: <span>{{q.expect}}</span><br>
				你写的结果: <span>{{q.resultText}}</span>
			</dd>
		</dl>
		</div>
	</fieldset>
</div>
</body>
<script type="text/javascript" src="/C0-S2-Ply-demo/_js/q1.js"></script>
</html>