<!doctype html>
<html>
<head>
<meta charset="utf-8">
<TITLE>论坛--发表帖子</TITLE>
<Link rel="stylesheet" type="text/css" href="style/style.css" />
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="js/_bbs.js"></script>
<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
</HEAD>

<BODY>
	<div id="main">
		<!--  页头 用户信息、登录、注册        -->
		<bbshead></bbshead>

		<BR />
		<!--      导航        -->
		<DIV>
			&gt;&gt;<B><a href="index.html">论坛首页</a></B>
		</DIV>
		<!--      用户登录表单        -->
		<DIV class="t" style="MARGIN-TOP: 15px" align="center">
			<FORM name="loginForm" action="" method="post">

				<br />标 题 &nbsp;
				<INPUT v-model="title" class="input" tabIndex="1" type="text" maxLength="20" size="35" name="uName">
				<br />内 容 &nbsp;
				<textarea v-model="content" class="input" tabIndex="2" style="width: 210px"></textarea>

				<br />
				<INPUT @click="login()" class="btn" tabIndex="6" type="button" value="发 表">
			</FORM>
		</DIV>
	</div>
	<script type="text/javascript">
var vue = new Vue({
	el : "#main",
	data : {
		title : "",
		content : ""
	},
	methods : {
		login(){
			var url = "topic/add";
			// js 中有一个 location 对象(地址对象) , 其中有个属性叫hash, 浏览器地址中的锚点
			var boardid = location.hash.substring(1) ;
			var user = {
				title : this.title,   // 前面是请求参数名,  后面是vue 变量值
				content : this.content,
				boardid : boardid
			}; // json 格式
			axios.post(url, params(user)).then( res => {
				alert(res.data.msg);
				if(res.data.code){
					// 跳转到首页
					location.href = "_list.html#" + boardid;
				}
			});
		}
	}
});

</script>

</BODY>
</HTML>
