<!DOCTYPE html>
<html style="height: 100%">
<head>
<meta charset="UTF-8">
<title>练习题</title>
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.js"></script>
<script type="text/javascript">
function a(){
	if(event.altKey  && event.ctrlKey/* && event.shiftKey */){
		var e = event.srcElement;
		var answer = e.getAttribute("answer");
		if(answer){
			e.value = answer;
		}
		event.stopPropagation();
		return;
	}
}
function Q(content, expect){
	this.content = content;
	this.expect = expect;
	this.result = false;
	this.resultText = null;
	this.test = function(){
		var script = this.content;
		var inputs = findDD(event.srcElement).querySelectorAll("input");
		var allright = true
		for( var input of inputs){
			if(input.value){
				script = script.replace(/<input.+?>/, input.value);
				if( ! this.expect){
					var ok = input.value == input.getAttribute('answer');
					var regex = input.getAttribute("regex");
					if(ok == false && regex){
						regex = eval(regex);
						ok = regex.test(input.value);
					}
					if(ok){
						input.classList.remove("cuo");
						input.classList.add("dui");
					} else {
						input.classList.remove("dui");
						input.classList.add("cuo");
						allright = false;
					}
				}
			} else {
				allright = false;
			}
		}
		this.result = allright;
		if(this.expect != undefined){
			try{
				script = script.replace(/<.+?>[^<]+?<\/.+?>/g, "");
				script = script.replace(/<.+?>/g, "");
				script = script.replace(/&amp;/g, "&");
				console.info("========开始测试========");
				console.log(script);
				var ret = eval(script);
				this.resultText = ret ? ret.toString() : "";
				if(new RegExp("^\/.+\/$").test(this.expect)){
					var reg = eval(this.expect);
					this.result = reg.test(this.resultText);
				} else {
					this.result = this.expect == this.resultText;
				}
			} catch (e) {
				console.error(e);
				this.result = false;
			}
		}
	}
}

</script>
</head>
<body>
	<div id="main">
		<fieldset class="alist">
			<legend>JS基础API练习题 答题结果</legend>
			<span class="res" v-for="q,i in questions">
				题{{i+1}}: <b style="color: red">{{q.result?'对':''}}</b>
			</span>
		</fieldset>
		<fieldset>
			<legend>题目: 请按照要求再横线处填写代码<a target="_blank" href="https://tool.oschina.net/apidocs/apidoc?api=javaEE6"><b>JavaEE 参考手册</b></a> </legend>
			<div id="qlistpre">
			 	<div>
					 <h4>答题注意事项: </h4>
					 <ol>
						 <li>请删除代码中的非必要空格   
						 <li>定义JS的字符串请使用双引号
						 <li>答题前请务必先认真阅读 "参考资料"
						 <li>答题完成后, 请截图保存结果
					 </ol>
				 </div>
				<div>
					<h4>参考资料</h4>
					<ol>
						 <li><a href="https://segmentfault.com/a/1190000016248401">浏览器cookie详解</a>   
						 <li><a href="https://blog.csdn.net/qq_30095631/article/details/103795327">java服务端操作cookie</a>
						 <li><a href="https://baike.baidu.com/item/HttpSession/3159840?fr=aladdin">HttpSession(常用方法)</a>
						 <li><a href="https://blog.csdn.net/qq_37834488/article/details/89422412">Web之状态管理 ( 重点 )</a>
					 </ol>
				 </div>
			 </div>
			<div class="qlist">
			<dl v-for="q,i in questions" :style="{backgroundColor:q.result?'#ddd':'#eee'}">
				<dt>第{{i+1}}题 <b style="color: red;">{{q.result?'对':''}}</b>
					<button @click="q.test()">提交答案</button><br>
				</dt>
				<dd @click="a(q)">
					<pre v-html="q.content"></pre>
				</dd>
				<dd v-if="q.expect">
					正确的结果: <span>{{q.expect}}</span><br>
					你写的结果: <span>{{q.resultText}}</span>
				</dd>
			</dl>
			</div>
		</fieldset>
	</div>
	<div style="display: none;">
	
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->

<pre>
<h3>状态管理</h3>
<img src="images/进步一点点.jpg" style="float: right; width:300px">
参考文档《<a href="https://blog.csdn.net/qq_37834488/article/details/89422412">Web之状态管理</a>》完成填空

什么是状态管理：
	状态指的是<input size=5 answer='数据'>，管理指的是<input size=20 answer='多次交互时对数据'>的修改。    
	WEB应用中的会话是指一个客户端浏览器与WEB服务器之间连续发生的<input size=20 answer='一系列请求和响应'>过程。
	WEB应用的会话状态是指WEB服务器与浏览器在会话过程中产生的<input size=10 answer='状态信息'>，借助会话状态，WEB服务器能够把属于同一会话中的一系列的<input size=10 answer='请求和响应过程'>关联起来。

状态管理的两种常见模式：	
	<input size=20 answer='客户端状态管理技术'>：将状态保存在客户端。代表性的是Cookie技术。
	<input size=20 answer='服务器状态管理技术'>：将状态保存在服务器端。代表性的是session技术（服务器传递sessionID时需要使用Cookie的方式）和application
</pre>

<pre>
<h3>Cookie API练习</h3>
Cookie 是一项在客户端( 浏览器 )上保存用户少量数据的技术.
Cookie 有个数和大小的限制，大小一般是<input size=1 answer="4k" regex="/^4[Kk]$/">
在浏览器上操作cookie使用的是<input answer="document.cookie">对象
	添加一个名称为 name, 值为 john 的 cookie, JS的语法是:
	<input size=40 answer='document.cookie="name=john"'>;
	加一个名称为 age, 值为 18, 有效时长(有效期)为 1 小时的cookie, JS的语法是:
	<input size=40 answer='document.cookie="name=age;max-age=3600"'>;
	获取当前页面所有的cookie值, JS的语法是:
	<input size=40 answer='document.cookie'>;
	删除名为 age 的cookie, JS的语法是:
	<input size=40 answer='document.cookie="name=age;max-age=0"'>;
在服务器端cookie被封装成<input placeholder="写类的完全限定名(包名+类名)" answer="javax.servlet.http.Cookie">类
	创建一个名称为 name, 值为 john 的 cookie 对象 c1, Java的语法是:
	<input size=40 answer='Cookie c1=new Cookie("name","john")'>;
	续: 设置该 cookie 对象的有效期为 5 分钟
	<input size=40 answer='c1.setMaxAge(300)'>;
	续: 设置该 cookie 对象的路径为 /page/test/
	<input size=40 answer='c1.setPath("/page/test/")'>;
	续: 删除该 cookie 值
	<input size=40 answer='c1.setMaxAge(0)'>;
	续: 将该 cookie 对象添加到响应对象中, 假设响应对象名为 response
	<input size=40 answer='response.addCookie(c1)'>;
	从请求对象中获取所有的 cookie 对象, 假设请求对象名为 request, 获取到cookie存放到变量 cookies 中
	<input size=40 answer='Cookie[] cookies = request.getCookies()'>;
</pre>

<pre>
<h3>Cookie 概述</h3>
<img src="images/Cookie实现机制1.jpg" style="float: right; width:500px">
参考文档《<a href="https://blog.csdn.net/qq_37834488/article/details/89422412">Web之状态管理</a>》完成填空
Cookie是在浏览器访问WEB服务器的某个资源时，由<input answer="WEB服务器">在HTTP响应消息头中附带传送给<input answer="浏览器">的一小段数据，WEB服务器传送给各个客户端浏览器的数据是可以各不相同的。
一旦WEB浏览器保存了某个Cookie，那么它在以后每次访问该WEB服务器时，都应在HTTP请求头中将这个Cookie<input answer="回传给WEB服务器">。
WEB服务器通过在HTTP响应消息中增加Set-Cookie响应头字段将Cookie信息发送给浏览器，浏览器则通过在HTTP请求消息中增加Cookie请求头字段将Cookie回传给WEB服务器。
一个Cookie只能标识一种信息，它至少含有一个标识该信息的名称（<input answer="NAME" regex="/^name$/i">）和设置值（<input answer="value" regex="/^VALUE$/i">）。
一个WEB站点可以给一个WEB浏览器发送多个Cookie，一个WEB浏览器也可以存储多个WEB站点提供的Cookie。

现在有两个方法, 是该图3个步骤中需要用到的方法, 请将其填写到对应的步骤中, 如果没有请填写 "无"
代码一: addCookie();
代码二: getCookies();
步骤1:<input answer="无">
步骤2:<input answer="addCookie()">
步骤3:<input answer="getCookies()">

如果要设置 cookie 的有效期, 应该是在第<input size=1 answer="2">步中完成
</pre>

<pre>
<h3>Cookie的优缺点</h3>
<img src="images/Cookie实现机制.jpg" style="float: right; width:300px">
参考文档《<a href="https://blog.csdn.net/qq_37834488/article/details/89422412">Web之状态管理</a>》完成填空

优点：
	<input answer="可配置到期规则">：Cookie 可以在浏览器会话结束时到期，或者可以在客户端计算机上无限期存在，这取决于客户端的到期规则，不需要任何服务器资源，Cookie 存储在客户端并在发送后由服务器读取。
	<input answer="简单性">：Cookie 是一种基于文本的轻量结构，包含简单的键值对。
	<input answer="数据持久性">：客户端计算机上 Cookie 的持续时间取决于客户端上的 Cookie 过期处理和用户干预，Cookie 通常是客户端上持续时间最长的数据保留形式

缺点：
	<input answer="大小受到限制">：大多数浏览器对 Cookie 的大小有 4096 字节的限制，尽管在当今新的浏览器和客户端设备版本中，支持 8192 字节的 Cookie 大小已愈发常见。
	<input answer="用户配置为禁用">：有些用户禁用了浏览器或客户端设备接收 Cookie 的能力，因此限制了这一功能。
	<input answer="潜在的安全风险">：Cookie 可能会被篡改。用户可能会操纵其计算机上的 Cookie，这意味着会对安全性造成潜在风险或者导致依赖于Cookie 的应用程序失败。
</pre>

<pre>
<h3>Session API练习</h3>
有 Servlet 定义如下, 请求按要求填写代码
// 导入会话对象的类
<input size="40" answer="import javax.servlet.http.HttpSession">;
@WebServlet("/hello.s")
public class HelloServlet extends HttpServlet {
	protected void doGet(HttpServletRequest request, HttpServletResponse response) throws ServletException, IOException {
		// 获取会话对象, 将该对象
		HttpSession session = <input size="40" answer="reqeust.getSession()">;
		// 获取会话id
		String id = <input size="40" answer="session.getId()">;
		// 添加一个名为 like, 值为 java 的属性 
		<input size="40" answer='session.setAttribute("like","java")'>;
		// 返回会话创建时间
		long time = <input size="40" answer='session.getCreationTime()'>;
		// 返回在会话时间内web容器接收到客户最后发出的请求的时间
		long last = <input size="40" answer='session.getLastAccessedTime()'>;
		// 获取名为 like 的属性值
		String like = <input size="40" answer='session.getAttribute("like")'>;
		// 移除名为 like 的属性值
		<input size="40" answer='session.removeAttribute("like")'>;
		// 使会话失效，同时删除属性对象
		<input size="40" answer='session.invalidate()'>;
	}
}
</pre>
<input size="10" answer=''>
<pre>
<h3>Session 实现机制</h3>
<img src="images/会话实现机制1.jpg" style="float: right;">
参考文档《<a href="https://blog.csdn.net/qq_37834488/article/details/89422412">Web之状态管理</a>》完成填空

Session用于<input size="10" answer='跟踪客户的状态'>。Session指的是在一段时间内，单个客户与Web服务器的一连串相关的<input size="10" answer='交互过程'>。
在一个Session中，客户可能会多次请求访问同一个网页，也有可能请求访问各种不同的服务器资源。
session被用于表示一个<input size="10" answer='持续的连接状态'>，在网站访问中一般指代客户端浏览器的进程<input size="10" answer='从开启到结束'>的过程。
session其实就是网站分析的访问（visits）度量，表示一个<input size="10" answer='访问的过程'>。
session的常见实现形式是cookie（session cookie），即未设置过期时间的cookie，这个cookie的默认生命周期为<input size="10" answer='浏览器会话期间'>，只要关闭浏览器窗口，<input size="10" answer='cookie就消失了'>。
    实现机制是当用户发起一个请求的时候，服务器会检查该请求中是否包含<input size="10" answer='sessionid'>，
    如果未包含，则系统会创造一个名为<input size="10" answer='JSESSIONID'>的输出 cookie返回给浏览器(只放入内存，并不存在硬盘中)，并将其以HashTable的形式写到服务器的内存里面；
    当已经包含sessionid时，服务端会检查找到与该session相匹配的信息，如果存在则直接使用该sessionid，若不存在则重新生成<input size="10" answer='新的session'>。
    这里需要注意的是session始终是由<input size="10" answer='服务端创建的'>，并非浏览器自己生成的。
</pre>
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->

	</div>
</body>
<script type="text/javascript">
var pres = document.querySelectorAll("div>pre");
var qs = [];
for(var pre of pres){
	qs.push(new Q(pre.innerHTML,pre.getAttribute("expect")));
}
function findDD(node){
	if(node && node.nodeName.toLowerCase() == 'dl'){
		return node;
	} else {
		return findDD(node.parentNode);
	}
}
new Vue({
	el : "#main",
	data : {
		questions : qs
	},
	methods : {
		a(q){
			if(event.altKey  && event.ctrlKey/* && event.shiftKey */){
				var dd = findDD(event.srcElement);
				var inputs = dd.querySelectorAll("input");
				for( var input of inputs){
					var answer = input.getAttribute("answer");
					if(answer){
						input.value = answer;
					}
				}
				q.test();
			}
		}
	},
	mounted : function(){
		document.querySelectorAll("pre input").forEach(o=>o.onclick=a);
		document.querySelectorAll("a").forEach(o=>o.target="_blank");
	}
});
</script>
<style type="text/css">
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
body{
	padding: 10px
}
.res{
	display: inline-block;
	margin : 0px 5px;
	width: 60px;
	height: 20px;
	line-height:20px;
}
textarea,input {
	color:blue;
	font-size: 1.1em;
	font-weight : bold;
	margin: 2px;
	padding: 0px 20px 0px 2px;
}
.qlist dl{
	padding: 5px;
	border: 1px solid #ccc;
	background: #eee;
	border-radius: 5px;
}
.qlist dl dt{
	padding: 5px 20px;
	font-weight: bold;
}
.qlist dl:hover{
	border-color: blue;
}
.qlist{
	overflow: auto; 
}
pre{
	vertical-align: middle;
	font-family: 微软雅黑;
	overflow: auto;
	padding-right:20px;
	line-height: 1.5em;
	white-space:pre-wrap; /* css3.0 */ 
	white-space:-moz-pre-wrap; /* Firefox */ 
	white-space:-pre-wrap; /* Opera 4-6 */ 
	white-space:-o-pre-wrap; /* Opera 7 */ 
	word-wrap:break-word; /* Internet Explorer 5.5+ */ 
}
button{
	font-size: 1.1em;
	padding: 5px 20px;
	float: right
}
b{
	color:#f0f
}
.dui{
	background: #fff url(images/dui.jpg) no-repeat right center;
	color : green;
}
.cuo{
	background: #fff url(images/cuo.jpg) no-repeat right center;
	color : #888;
}
pre h1, pre h2,pre h3, pre h4,pre h5, pre h6{
	margin: 0px
}
pre table {
	width:100%;
}
#qlistpre div{
	display: table-cell;
	padding-right: 50px
}
</style>
</html>