<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>CSS属性练习</title>
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style type="text/css">
body, div {
	padding: 10px
}

div {
	border: 1px solid #777;
}

div:nth-child(1) {
	float: left;
	width: 45%
}

div:nth-child(2) {
	float: right;
	width: 50%
}
li>*:nth-child(2),li>*:nth-child(3){
	float: right
}
</style>
</head>
<body>
	<div>
		<h3>标题: CSS简介</h3>
		<p><b>第 1 段:</b> 在Web早期样式和内容是不区分的，比如可以通过&lt;bold>标签来显示加粗字体。随着页面内容的丰富，浏览器性能的提高，内容和样式的耦合使得HTML文件难以理解和维护。CSS的出现正是为了将样式分离到独立的文件中。
		<p><b>第 2 段:</b> 层叠样式表（Cascading Style Sheets，CSS），又称串样式列表、层次结构式样式表文件，一种用来为结构化文档（如HTML文档或XML应用）添加样式（字体、间距和颜色等）的计算机语言，由W3C定义和维护。
	</div>
	<div id="lx">
		<h3>请按照要求完成练习</h3>
		<ol>
			<li v-for="(q,index) in qlist">
				<span>{{q.name}}</span>: 
				<input v-on:change="answer(index)" v-bind:answer="q.answer" placeholder="输入样式值">
				<span v-if="q.ok" class="ret">OK </span>
			</li>
		</ol>
	</div>
	<script type="text/javascript">
		var lx = new Vue({
			el : '#lx',
			data : {
				qlist:[
					{name:'设置标题的字体为"微软雅黑"',	answer:'test', ok:false},
					{name:'设置标题的字体为"微软雅黑"',	answer:'test', ok:false},
					{name:'设置标题的字体为"微软雅黑"',	answer:'test', ok:false},
				],
			},
			methods:{
				answer: function(index){
					this.qlist[index].ok = event.srcElement.value == this.qlist[index].answer;
				}
			}
		})
	
	</script>
</body>
</html>