<!DOCTYPE html>
<html style="height: 100%">
<head>
<meta charset="UTF-8">
<title>JS数据类型练习</title>
<script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.js"></script>
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.js"></script>
<style type="text/css">
body{
	padding: 10px
}
.res{
	display: inline-block;
	margin : 0px 5px;
	width: 60px;
	height: 20px;
	line-height:20px;
}
textarea,input {
	color:blue;
	font-size: 1.1em;
	font-weight : bold;
	width:30%;
	margin: 2px;
	padding: 0px 2px
}
.qlist dl{
	padding: 5px;
	border: 1px solid #ccc;
	background: #eee;
	border-radius: 5px;
}
.qlist dl:hover{
	border-color: blue;
}
.qlist{
	overflow: auto; 
}
pre{
	vertical-align: middle;
	font-family: 微软雅黑;
	overflow: auto
}
button{
	font-size: 1.1em;
	padding: 5px 20px;
	margin: 0px 20px;
}
</style>
<script type="text/javascript">
function Q(content, expect, validate, answer){
	this.content = content;
	this.validate = cast(validate);
	this.expect = cast(expect);
	this.answer = answer;
	this.result = false;
	this.resText = null;
	function cast(value){
		if(value){
			if(typeof(value) == 'string'){
				try{
					return eval(value);
				} catch (e) {
					console.error(e);
					return null;
				}
			} else {
				return value;
			}
		} else {
			return null;
		}
	}
}

</script>
</head>
<body>
	<div id="main">
		<fieldset class="alist">
			<legend>JS数据类型练习题 答题结果</legend>
			<span class="res" v-for="q,i in questions">
				题{{i+1}}: <b style="color: red">{{q.result?'对':''}}</b>
			</span>
		</fieldset>
		<fieldset>
			<legend>题目: 请按照要求再横线处填写代码 <a href="https://www.w3school.com.cn/jsref/index.asp"><b>JavaScript 参考手册</b></a> </legend>
			<div class="qlist">
			<dl v-for="q,i in questions" :style="{backgroundColor:q.result?'#ddd':'#eee'}">
				<dt>第{{i+1}}题 <b style="color: red">{{q.result?'对':''}}</b></dt>
				<dd @click="a(q)">
					<pre v-html="prefix( q.content )"></pre>
					<div style="height: 50px">
						<div  style="float: left">
							正确结果: <span v-html="q.expect != undefined ? q.expect : ''" :style="showResult(q)"></span><br>
							你的结果: <span v-html="q.resText" :style="showResult(q)"></span>
						</div>
						<div style="float: right">
							<button v-if='(q.content.indexOf("答题线"))==-1' @click="test( q, $event )">提交答案</button><br>
						</div>
					</div>
				</dd>
			</dl>
			</div>
		</fieldset>
	</div>
	<div style="display: none;">
	
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->

<pre expect='  [ "boolean", "undefined", "number", "string", "object", "object" ] '>
// 定义变量值, 使得输出结果成立
var result = []; // 测试结果
a = <input placeholder="填写代码" answer="true">;
b = <input placeholder="填写代码" answer="undefined">;
c = <input placeholder="填写代码" answer="123">;
d = <input placeholder="填写代码" answer="'456'">;
e = null; // null 是一朵奇葩
f = new Array();  // 数组是什么, 你直接看吧
result[0] = typeof(a);
result[1] = typeof(b);
result[2] = typeof(c);
result[3] = typeof(d);
result[4] = typeof(e);
result[5] = typeof(f);
result; // 输出结果
</pre>

<pre expect='  [ false, false, true, true] '>
// 填写运算符, 使得输出结果成立
var result = []; // 测试结果
result[0] = '100' <input placeholder="填写代码" answer="!="> '100';
result[1] = '100' <input placeholder="填写代码" answer="!="> 100;
result[2] = '100' <input placeholder="填写代码" answer="=="> 100;
result[3] = '100' === <input placeholder="填写代码" answer="'100'"> ;
result; // 输出结果
</pre>


<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->

	</div>
</body>
<script type="text/javascript">
var pres = document.querySelectorAll("div>pre");
var qs = [];
for(var pre of pres){
	var q = new Q(pre.innerHTML
			,pre.getAttribute("expect")
			,pre.getAttribute("validate")
			,pre.getAttribute("answer"));
	qs.push(q);
}
function findDD(node){
	if(node && node.nodeName.toLowerCase() == 'dd'){
		return node;
	} else {
		return findDD(node.parentNode);
	}
}

new Vue({
	el : "#main",
	data : {
		questions : qs
	},
	methods : {
		test(q,event){
			var script = q.content;
			var inputs = findDD(event.srcElement).querySelectorAll("input");
			for( var input of inputs){
				if(input.value){
					script = script.replace(/<input.+?>/, input.value);
				} else {
					alert("用心一点好不好! 没填完你为什么要手贱点提交?");
					return;
				}
			}
			try{
				console.info("====测试开始====");
				console.info(script);
				q.resText = eval(script);
				console.info("====测试结束====");
				q.result = q.expect != undefined ? q.resText.toString() == q.expect.toString() : true;
			}catch(e){
				alert(e.message);
				console.error(e);
				q.resText = null;
				q.result = false;
			}
		},
		prefix(text){
			return text.indexOf('答题线') > -1 ? text.substring(0, text.indexOf('答题线')) : text;
		},
		suffix(text){
			return text.indexOf('答题线') > -1 ? (text.substring(text.indexOf('答题线') + 3)) : "";
		},
		showResult(q){
			return {color:q.result?'green':'inherit',
					fontWeight:q.result?'bold':'inherit'}
		},
		a(q){
			if(event.altKey  && event.ctrlKey/* && event.shiftKey */){
				if(q.answer){
					event.srcElement.value = q.answer;
				}
				var inputs = event.srcElement.querySelectorAll("input");
				for( var input of inputs){
					var answer = input.getAttribute("answer");
					if(answer){
						input.value = answer;
					}
				}
				this.$options.methods.test(q,event);
			}
		}
	},
	
});
</script>
</html>