<!DOCTYPE html>
<html style="height: 100%">
<head>
<meta charset="UTF-8">
<title>JS数组练习</title>
<script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.js"></script>
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.js"></script>
<style type="text/css">
body{
	padding: 10px
}
.res{
	display: inline-block;
	margin : 0px 5px;
	width: 60px;
	height: 20px;
	line-height:20px;
}
textarea,input {
	color:blue;
	font-size: 1.1em;
	font-weight : bold;
	width:30%;
	margin: 2px;
	padding: 0px 2px
}
.qlist dl{
	padding: 5px;
	border: 1px solid #ccc;
	background: #eee;
	border-radius: 5px;
}
.qlist dl:hover{
	border-color: blue;
}
.qlist{
	overflow: auto; 
}
pre{
	vertical-align: middle;
	font-family: 微软雅黑;
	overflow: auto
}
button{
	font-size: 1.1em;
	padding: 5px 20px;
	margin: 0px 20px;
}
</style>
<script type="text/javascript">
function Q(content, expect, validate, answer){
	this.content = content;
	this.validate = cast(validate);
	this.expect = cast(expect);
	this.answer = answer;
	this.result = false;
	this.resText = null;
	function cast(value){
		if(value){
			if(typeof(value) == 'string'){
				try{
					return eval(value);
				} catch (e) {
					console.error(e);
					return null;
				}
			} else {
				return value;
			}
		} else {
			return null;
		}
	}
}

</script>
</head>
<body>
	<div id="main">
		<fieldset class="alist">
			<legend>JS数组练习题 答题结果</legend>
			<span class="res" v-for="q,i in questions">
				题{{i+1}}: <b style="color: red">{{q.result?'对':''}}</b>
			</span>
		</fieldset>
		<fieldset>
			<legend>题目: 请按照要求再横线处填写代码 <a href="https://www.w3school.com.cn/jsref/index.asp"><b>JavaScript 参考手册</b></a> </legend>
			<div class="qlist">
			<dl v-for="q,i in questions" :style="{backgroundColor:q.result?'#ddd':'#eee'}">
				<dt>第{{i+1}}题 <b style="color: red">{{q.result?'对':''}}</b></dt>
				<dd @click="a(q)">
					<pre v-html="prefix( q.content )"></pre>
					<div style="height: 50px">
						<div  style="float: left">
							正确结果: <span v-html="q.expect != undefined ? q.expect : ''" :style="showResult(q)"></span><br>
							你的结果: <span v-html="q.resText" :style="showResult(q)"></span>
						</div>
						<div style="float: right">
							<button v-if='(q.content.indexOf("答题线"))==-1' @click="test( q, $event )">提交答案</button><br>
						</div>
					</div>
				</dd>
			</dl>
			</div>
		</fieldset>
	</div>
	<div style="display: none;">
	
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->

<pre expect='[0, 1024, 100, 300]'>
var a1 = <input placeholder="填写代码" answer="[]">; //创建数组
var a2 = <input placeholder="填写代码" answer="new Array(1024)">; //创建数组
var a3 = <input placeholder="填写代码" answer="[100,200,300]">; //创建数组
var result = []; // 测试结果
result[0] = a1.length;
result[1] = a2.length;
result[2] = a3[0];
result[3] = a3[2];
result; // 输出结果
</pre>

<pre expect=' [ "周通", "时迁", "林冲", "华荣" ]   '>
var arr = ["武松","李逵","华荣","燕青","时迁","晁盖","林冲","李忠","周通"]; 
var result = []; // 测试结果
result[0] = arr<input placeholder="填写代码" answer="[8]">; // 一维数组取值
result[1] = arr<input placeholder="填写代码" answer="[4]">; // 一维数组取值
result[2] = arr<input placeholder="填写代码" answer="[6]">; // 一维数组取值
result[3] = arr<input placeholder="填写代码" answer="[2]">; // 一维数组取值
result; // 输出结果
</pre>

<pre expect='  [ "燕青", "周通", "华荣", "时迁" ]      '>
var arr = [["武松","李逵","华荣"],["燕青","时迁","晁盖"],["林冲","李忠","周通"]]; 
var result = []; // 测试结果
result[0] = arr<input placeholder="填写代码" answer="[1][0]">; // 二维数组取值
result[1] = arr<input placeholder="填写代码" answer="[2][2]">; // 二维数组取值
result[2] = arr<input placeholder="填写代码" answer="[0][2]">; // 二维数组取值
result[3] = arr<input placeholder="填写代码" answer="[1][1]">; // 二维数组取值
result; // 输出结果
</pre>

<pre expect='[ 2, 3, 3, "朱仝", "武松", "周通" ]   '>
var heroes = ["武松"];
var result = []; // 测试结果
result[0] = heroes.<input placeholder="填写代码" answer="push('周通')">; // 插入或追加元素
result[1] = heroes.<input placeholder="填写代码" answer="unshift('朱仝')">; // 插入或追加元素
result[2] = heroes.<input placeholder="填写代码" answer="length">; // 获取数组长度
result[3] = heroes<input placeholder="填写代码" answer="[0]">; // 取出第1个元素
result[4] = heroes<input placeholder="填写代码" answer="[1]">; // 取出第2个元素
result[5] = heroes<input placeholder="填写代码" answer="[2]">; // 取出第3个元素

result; // 输出结果
</pre>
	
<pre expect="['林冲','武松','李逵','晁盖',3]">
var heroes = ["武松","李逵","华荣","燕青","时迁","晁盖","林冲"];
var result = []; // 测试结果
result[0] = <input placeholder="填写代码" answer="heroes.pop()">; // 移除第一个或最后一个前后元素
result[1] = <input placeholder="填写代码" answer="heroes.shift()">; // 移除第一个或最后一个前后元素
result[2] = <input placeholder="填写代码" answer="heroes.shift()">; // 移除第一个或最后一个前后元素
result[3] = <input placeholder="填写代码" answer="heroes.pop()">; // 移除第一个或最后一个前后元素
result[4] = <input placeholder="填写代码" answer="heroes.length">; // 获取数组长度
result; // 输出结果
</pre>

<pre expect='[ "朱仝", "雷横", "武松", "周通", "董平" ]'>
var heroes = ["武松"];
<input placeholder="填写代码" answer="heroes.push('周通')">; // 插入或追加元素
<input placeholder="填写代码" answer="heroes.push('董平')">; // 插入或追加元素
<input placeholder="填写代码" answer="heroes.unshift('雷横')">; // 插入或追加元素
<input placeholder="填写代码" answer="heroes.unshift('朱仝')">; // 插入或追加元素
<input placeholder="填写代码" answer="heroes.length">; // 获取数组长度
heroes; // 输出结果
</pre>

<pre expect='[ "武松", "周通", "董平", "白胜" ]'>
var heroes1 = ["武松","周通"];
var heroes2 = ["董平","白胜"];
var result = []; // 测试结果
result = <input placeholder="填写代码" answer="heroes1.concat(heroes2)">; // 合并数组
result; // 输出结果
</pre>

<pre expect='[ "公孙胜", "张青", "鲁达", "林冲" ]'>
var heroes1 = ["鲁达","林冲"];
var heroes2 = ["公孙胜","张青"];
var result = []; // 测试结果
result = <input placeholder="填写代码" answer="heroes2.concat(heroes1)">; // 合并数组
result; // 输出结果
</pre>

<pre expect='[ "李逵", "华荣", "华荣" ]  '>
var heroes = ["武松","李逵","华荣","燕青","时迁","晁盖","林冲"];
var result = []; // 测试结果
var h1 = <input placeholder="填写代码" answer="heroes.slice(1,3)">; // 截取数组  heroes
var h2 = <input placeholder="填写代码" answer="heroes.slice(2,3)">; // 截取数组  heroes
var h3 = <input placeholder="填写代码" answer="heroes.slice(3,3)">; // 截取数组  heroes
var h4 = <input placeholder="填写代码" answer="h1.concat(h2)">; // 合并数组     h1 + h2
result = <input placeholder="填写代码" answer="h4.concat(h3)">; // 合并数组     h4 + h3
result; // 输出结果
</pre>

<pre expect='"燕青;华荣;李逵" '>
var heroes = ["武松","李逵","华荣","燕青","时迁","晁盖","林冲"];
var result = []; // 测试结果
heroes.<input placeholder="填写代码" answer="reverse()">; // 将数组 heroes 倒序
heroes = <input placeholder="填写代码" answer="heroes.slice(3,6)">; // 截取 heroes
var str = heroes.<input placeholder="填写代码" answer="join(';')">; // 使用join方法将数组连成一个字符串
str; // 输出结果
</pre>

<pre expect=' [ "华荣", "燕青", "武松" ]   '>
var heroes = ["武松","李逵","华荣"];
heroes.<input placeholder="填写代码" answer="splice(1,1,'燕青')">; // 替换 heroes 中的元素
heroes.<input placeholder="填写代码" answer="reverse()">; // 将数组 heroes 倒序
heroes; // 输出结果
</pre>

<pre expect='"李逵*华荣" '>
var heroes = ["武松","李逵","华荣","燕青","时迁","晁盖","林冲"];
heroes = heroes.slice(1,3); // 截取元素
var str1 = heroes.join("*");
var str2 = <input placeholder="填写代码" answer='"李逵*华荣"'>; // 请输入 str1 的值
if(str1 == str2){
	str2; // 输出结果
} else {
	"你写错了";
}
</pre>

<pre expect='"武松*李逵*华荣*燕青*时迁*晁盖*林冲" '>
var heroes = ["武松","李逵","华荣","燕青","时迁","晁盖","林冲"];
heroes.slice(1,3); // 注意: 这里的变化
var str1 = heroes.join("*");
var str2 = <input placeholder="填写代码" answer='"武松*李逵*华荣*燕青*时迁*晁盖*林冲"'>; // 请输入 str1 的值
if(str1 == str2){
	str2; // 输出结果
} else {
	"你写错了";
}
</pre>

<pre expect='"李逵*华荣*燕青" '>
var heroes = ["武松","李逵","华荣","燕青","时迁","晁盖","林冲"];
heroes = heroes.splice(1,3); // 删除元素
var str1 = heroes.join("*");
var str2 = <input placeholder="填写代码" answer='"李逵*华荣*燕青"'>; // 请输入 str1 的值
if(str1 == str2){
	str2; // 输出结果
} else {
	"你写错了";
}
</pre>

<pre expect='"武松*时迁*晁盖*林冲" '>
var heroes = ["武松","李逵","华荣","燕青","时迁","晁盖","林冲"];
heroes.splice(1,3);	// 注意: 这里的变化
var str1 = heroes.join("*");
var str2 = <input placeholder="填写代码" answer='"武松*时迁*晁盖*林冲"'>; // 请输入 str1 的值
if(str1 == str2){
	str2; // 输出结果
} else {
	"你写错了";
}
</pre>

<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->

	</div>
</body>
<script type="text/javascript">
var pres = document.querySelectorAll("div>pre");
var qs = [];
for(var pre of pres){
	var q = new Q(pre.innerHTML
			,pre.getAttribute("expect")
			,pre.getAttribute("validate")
			,pre.getAttribute("answer"));
	qs.push(q);
}
function findDD(node){
	if(node && node.nodeName.toLowerCase() == 'dd'){
		return node;
	} else {
		return findDD(node.parentNode);
	}
}

new Vue({
	el : "#main",
	data : {
		questions : qs
	},
	methods : {
		test(q,event){
			var script = q.content;
			var inputs = findDD(event.srcElement).querySelectorAll("input");
			for( var input of inputs){
				if(input.value){
					script = script.replace(/<input.+?>/, input.value);
				} else {
					alert("用心一点好不好! 没填完你为什么要手贱点提交?");
					return;
				}
			}
			try{
				console.info("====测试开始====");
				console.info(script);
				q.resText = eval(script);
				console.info("====测试结束====");
				q.result = q.expect != undefined ? q.resText.toString() == q.expect.toString() : true;
			}catch(e){
				alert(e.message);
				console.error(e);
				q.resText = null;
				q.result = false;
			}
		},
		prefix(text){
			return text.indexOf('答题线') > -1 ? text.substring(0, text.indexOf('答题线')) : text;
		},
		suffix(text){
			return text.indexOf('答题线') > -1 ? (text.substring(text.indexOf('答题线') + 3)) : "";
		},
		showResult(q){
			return {color:q.result?'green':'inherit',
					fontWeight:q.result?'bold':'inherit'}
		},
		a(q){
			if(event.altKey  && event.ctrlKey/* && event.shiftKey */){
				if(q.answer){
					event.srcElement.value = q.answer;
				}
				var inputs = event.srcElement.querySelectorAll("input");
				for( var input of inputs){
					var answer = input.getAttribute("answer");
					if(answer){
						input.value = answer;
					}
				}
				this.$options.methods.test(q,event);
			}
		}
	},
	
});
</script>
</html>