<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>省市县联动</title>
<style type="text/css">
select{
	width:100px
}
</style>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script>
<script type="text/javascript" src="js/省市.js"></script>
</head>
<body>
<div id="main">
	省:<select id="sheng" @change="loadCitys">
			<option v-for="p in provinces">{{p}}</option>
		</select>
	市:<select id="shi" @change="loadCountys">
			<option v-for="c in citys">{{c}}</option>
		</select>
	县:<select id="xian">
			<option v-for="c in countys">{{c}}</option>
		</select>
</div>
<script type="text/javascript">
	var vue = new Vue({
		el : "#main",
		data : {
			provinces : provinces,
			citys : [],
			countys : []
		},
		methods : {
			loadCitys(){
				this.citys = citys[sheng.selectedIndex];
				// 关于$nextTick 请看: https://www.cnblogs.com/HelloJC/p/11189853.html
				this.$nextTick(()=>{
					this.loadCountys();
				});
			},
			loadCountys(){
				this.countys = countys[sheng.selectedIndex][shi.selectedIndex];
			}
		},
		// vue中created与mounted区别 : https://segmentfault.com/a/1190000020058583
		mounted : function(){
			this.loadCitys();
		}
	});
</script>
</body>
</html>