<!DOCTYPE html>
<html style="height: 100%">
<head>
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<title>练习题</title>
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.js"></script>
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script type="text/javascript" src="http://47.106.66.89:1112/js/pub.js"></script>
<script type="text/javascript">
function Q(content){
	this.content = content;
	this.result = false;
}

</script>
</head>
<body>
	<div id="main">
		<fieldset class="alist">
			<legend>答题结果</legend>
			<div style="display: table;width: 100%">
				<div style="display: table-cell;vertical-align: middle;">
					<span class="res" v-for="q,i in questions">
						题{{i+1}}: <b style="color: red">{{q.result?'对':''}}</b>
					</span>
				</div>
				<div style="display: table-cell; width: 150px; text-align: center;">
					<button @click="commit" :disabled="finish==false">提交答卷</button>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>题目: 请按照要求再横线处填写代码 <a target="_blank" href="https://tool.oschina.net/apidocs/apidoc?api=javaEE6"><b>JavaEE 参考手册</b></a> </legend>
			<div class="qlist">
			<dl v-for="q,i in questions" :style="{backgroundColor:q.result?'#ddd':'#eee'}">
				<dt>第{{i+1}}题 <b style="color: red;">{{q.result?'对':''}}</b>
					<button @click="test( q, $event )" style="float: right;">提交答案</button><br>
				</dt>
				<dd @click="a(q)">
					<pre v-html="q.content"></pre>
				</dd>
			</dl>
			</div>
		</fieldset>
	</div>
	<div style="display: none;">
	
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
<pre>
<img src="images/demopro.png">

参考工程截图: 假设有一个资源名为 hello.s 的 Servlet, 请根据要求为该 Servlet 配置地址: 

1. 在浏览器中通过 127.0.0.1/demo/hello.s 进行访问
<input size="50" answer='@WebServlet("/hello.s")'>
2. 在浏览器中通过 127.0.0.1/demo/test/page/hello.s 进行访问
<input size="50" answer='@WebServlet("/test/page/hello.s")'>
3. 要求与 board.html 位于同一个目录( 路径 )下
<input size="50" answer='@WebServlet("/img/icon/hello.s")'>
4. 要求 mood.html 页面中超链接可以直接通过 hello.s 访问
<input size="50" answer='@WebServlet("/css/hello.s")'>

下面是 页面中的超链接地址配置

1. 假设Servlet地址定义为 /test/hello.s, 请问 mood.html 页面中的超链接要访问到该Servlet, 
	那么mood.html中, 超链接的 href 的相对地址要怎么写? 
<input size="50" answer='../test/hello.s'>
2. 续: 那么mood.html中, 超链接的 href 的绝对地址要怎么写? 
<input size="50" answer='/demo/test/hello.s'>
3. 续: 那么board.html中, 超链接的 href 的相对地址要怎么写? 
<input size="50" answer='../../test/hello.s'>
4. 续: 那么board.html中, 超链接的 href 的绝对地址要怎么写? 
<input size="50" answer='/demo/test/hello.s'>
5. 续: 那么index.html中, 超链接的 href 的相对地址要怎么写? 
<input size="50" answer='test/hello.s'>
6. 续: 那么index.html中, 超链接的 href 的绝对地址要怎么写? 
<input size="50" answer='/demo/test/hello.s'>
</pre>

<pre>
Servlet 处理get请求是<input answer="doGet">方法
处理post请求是<input answer="doPost">方法
处理delete请求是<input answer="doDelete">方法
在浏览器地址栏输入地址访问Servlet, Servlet执行的是<input answer="doGet">方法
在页面中点击超链接访问Servlet, Servlet执行的是<input answer="doGet">方法
通过表单默认方法访问Servlet, Servlet执行的是<input answer="doGet">方法
使用 js 执行 location.href访问Servlet, Servlet执行的是<input answer="doGet">方法
将表单method设置为post方法, 访问Servlet, Servlet执行的是<input answer="doPost">方法
</pre>

<pre>
参考:<a href="https://blog.csdn.net/WQY992/article/details/84626666" target="_blank">Servlet错误代码及其解决方法</a>
在访问 Servlet 时, 如果地址写错, 
服务器会返回<input answer="404">错误码
如果使用超链接方式访问, Servlet没有定义doGet方法,
服务器会返回<input answer="405">错误码
在访问 Servlet 时, 如果出现异常, 例如: 空指针, 数组越界... 
服务器会返回<input answer="500">错误码
</pre>

<pre>
参考:<a href="https://www.cnblogs.com/zhencool/p/10555916.html" target="_blank">Servlet运行原理以及生命周期</a>
Servlet 生命周期包括
	实例化, 服务器会调用Servlet的构造方法
	初始化, 服务器会调用<input answer="init">方法
	请求处理, 服务器会调用<input answer="service">方法
	销毁, 服务器会调用<input answer="destroy">方法
除构造方法, 生命周期方法中:
	最先调用的是<input answer="init">方法
	最后调用的是<input answer="destroy">方法
	唯一会可能被调用多次的是<input answer="service">方法
	<input answer="service">方法会根据接收到的请求, 调用对应的 doGet 或 doPost方法
默认情况下, 当 Servlet 被第一次访问的时候, 按照先后顺序, Servlet的
	<input answer="init">方法 和 <input answer="service">方法 会被调用
在服务器关闭时, Servlet的:
	<input answer="destroy">方法会被调用
</pre>

<pre>
参考:<a href="https://www.w3school.com.cn/tags/html_ref_httpmethods.asp" target="_blank">HTTP 方法：GET 对比 POST </a>
关于 HTTP 请求方法 get 和 post 对比, 请在文本框中填写对应的请求方法名
<table>
<tr><td>提交数据大小:<td><input placeholder="小" answer="get"><input placeholder="大" answer="post">
<tr><td>安全性:<td><input placeholder="安全" answer="post"><input placeholder="不安全" answer="get">
<tr><td>被浏览器缓存:<td><input placeholder="不缓存" answer="post"><input placeholder="缓存" answer="get">
<tr><td>上传文件:<td><input placeholder="不可以" answer="get"><input placeholder="可以" answer="post">
<tr><td>地址栏是否可以看到提交的数据:<td><input placeholder="可见" answer="get"><input placeholder="不可见" answer="post">
</table>
</pre>

<pre>
参考:<a href="https://blog.csdn.net/Tang_ya/article/details/104717580" target="_blank">request请求对象和response响应对象的常用方法</a>
根据后面的提示填写对应的方法签名 ( 注意: 尽量精简代码, 删除代码中不必要的空格符 )
请求对象方法
<input size="40" answer="getAttribute(String name)">;通过Key名得到请求对象中value值 
<input size="40" answer="getParameterValues(String name)">;通过表单name属性名得到一组value属性值.
<input size="40" answer="setCharacterEncoding(String env)">;设置post请求的编码
<input size="40" answer="removeAttribute(String name)">;通过Key名删除Key-value对.
<input size="40" answer="getMethod()">;得到请求提交的方式(get/post)
<input size="40" answer="getParameterMap()">; 得到请求中所有数据.
<input size="40" answer="getCookies()">;得到客户端的所有cookie信息.
<input size="40" answer="setAttribute(String name,Object o)">;按key-value对方式将值存到请求对象中 
<input size="40" answer="getParameter(String name)">;通过表单name属性名得到value属性值.
<input size="40" answer="getSession()">;得到会话对象 
响应对象方法
<input size="40" answer="setContentType(String type)">;设置响应内容类型
<input size="40" answer="setCharacterEncoding(String charset)">;设置响应编码方式
<input size="40" answer="getWriter()">;获得网络字符输出流
<input size="40" answer="addCookie(Cookie cookie)">;将cookie对象通过浏览器存在客户端.
<input size="40" answer="getOutputStream()">;获得网络字节输出流
<input size="40" answer="sendRedirect(String location)">;重定向,实现页面跳转
</pre>

<pre>
通过浏览器向服务器发送一个Servlet请求, 请求地址为: http://localhost/demo/user/hello.do?name=宋江&age=40&job=老大
请求根据注释信息写出方法中对应的代码 ( 注意: 尽量精简代码, 删除代码中不必要的空格符 )
<input size="40" answer='@WebServlet("/user/hello.do")'>;// 配置Servlet的地址
public class HelloServlet extends HttpServlet {
	protected void doGet(HttpServletRequest request, HttpServletResponse response) throws ServletException, IOException {
		<input size="40" answer='response.setCharacterEncoding("GBK")'>;// 设置响应对象的字符集编码为 GBK
		<input size="40" answer='request.setCharacterEncoding("UTF-8")'>;// 设置请求对象的字符集编码为 UTF-8
		<input size="40" answer='response.setContentType("text/html;charset=utf-8")'>;// 设置响应内容类型为 text/html;charset=utf-8
		PrintWriter out = <input size="40" answer='response.getWriter()'>; // 获取响应字符输出流
		String msg = "hello " + <input size="40" answer='request.getParameter("name")'>;// 获取请求参数name的值
		<input size="40" answer='out.print(msg)'>;// out 对象使用 print 方法向浏览器输出 msg
		<input size="40" answer='out.append("<br>")'>;// out 对象使用 append 方法向浏览器输出一个换行标签
		String job = "job " + <input size="40" answer='request.getParameter("job")'>;// 获取请求参数job的值
		<input size="40" answer='out.println(job)'>;// out 对象使用 println 方法向浏览器输出 job
	}
	protected void doPost(HttpServletRequest request, HttpServletResponse response) throws ServletException, IOException {
		<input size="40" answer='doGet(request,response)'>;// 执行 doGet 方法
	}
}
<h3>该题目完成后, 请在自己工程里面实现该功能</h3></pre>

<pre>
请完成代码填空, 实现返回的页面上展示用户选择的爱好 ( 注意: 尽量精简代码, 删除代码中不必要的空格符 )

在 demo 工程中有页面 demo.html, 位于 WebContent/page/mvc 下, 页面中有一个表单, 代码如下
&lt;form action="<input placeholder="怎么填?看Servlet" answer='../../user/likes.do'>"
		 method="<input placeholder="怎么填?看Servlet" answer='post'>"&gt;
	&lt;input name="name"&gt;
	&lt;input name="like" type="checkbox" value="读书"&gt;读书
	&lt;input name="like" type="checkbox" value="电影"&gt;电影
	&lt;input name="like" type="checkbox" value="手游"&gt;
	&lt;input type="submit" value="提交"&gt;
&lt;/form&gt;
要求: 表单提交后, 请求发送给下面的Servlet
@WebServlet("/user/likes.do")
public class LikesServlet extends HttpServlet {
	protected void doPost(HttpServletRequest request, HttpServletResponse response) throws ServletException, IOException {
		<input size="40" answer='response.setCharacterEncoding("UTF-8")'>;// 设置响应对象的字符集编码为 UTF-8
		<input size="40" answer='request.setCharacterEncoding("UTF-8")'>;// 设置请求对象的字符集编码为 UTF-8
		<input size="40" answer='response.setContentType("text/html;charset=utf-8")'>;// 设置响应内容类型为 text/html;charset=utf-8
		PrintWriter out = <input size="40" answer='response.getWriter()'>; // 获取响应字符输出流
		String name = <input size="40" answer='request.getParameter("name")'>;// 获取请求参数name的值
		String[] likes = <input size="40" answer='request.getParameterValues("like")'>;// 获取数组型请求参数like的值
		String text = name + " 的爱好:  " + Arrays.toString(likes); 
		<input size="40" answer='out.print(text)'>;// out 对象使用 print 方法向浏览器输出 text
	}
}
<h3>该题目完成后, 请在自己工程里面实现该功能</h3></pre>

<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->

	</div>
</body>
<script type="text/javascript">
var pres = document.querySelectorAll("div>pre");
var qs = [];
for(var pre of pres){
	qs.push(new Q(pre.innerHTML));
}
function findDD(node){
	if(node && node.nodeName.toLowerCase() == 'dl'){
		return node;
	} else {
		return findDD(node.parentNode);
	}
}
new Vue({
	el : "#main",
	data : {
		questions : qs
	},
	methods : {
		test(q,event){
			var script = q.content;
			var inputs = findDD(event.srcElement).querySelectorAll("input");
			var allright = true
			for( var input of inputs){
				if(input.value){
					script = script.replace(/<input.+?>/, input.value);
					var ok = input.value == input.getAttribute('answer');
					if(ok){
						input.classList.remove("cuo");
						input.classList.add("dui");
					} else {
						input.classList.remove("dui");
						input.classList.add("cuo");
						allright = false;
					}
				} else {
					alert("用心一点好不好! 没填完你为什么要手贱点提交?");
					return;
				}
			}
			q.result = allright;
		},
		a(q){
			if(event.altKey  && event.ctrlKey/* && event.shiftKey */){
				if(q.answer){
					event.srcElement.value = q.answer;
				}
				var inputs = event.srcElement.querySelectorAll("input");
				for( var input of inputs){
					var answer = input.getAttribute("answer");
					if(answer){
						input.value = answer;
					}
				}
				this.$options.methods.test(q,event);
			}
		},
		commit(){
			var index = location.href.lastIndexOf("/");
			var hwName = location.href.substring(index+1);
			hwName = decodeURIComponent(hwName);
			if(hwName){
				axios.post("/hw/commit",buildParams({
					name : hwName
				})).then(res=>{
					if( res.data.code == 1){
						alert("答案提交成功");
					} else {
						alert(res.data.msg || "答案提交失败");
						if( res.data.code == -1){
							location.href = "/user/myinfo.html";
						}
					}
				});
			}
		}
	},
	mounted : function(){
		document.querySelectorAll("a").forEach(o=>o.target="_blank");
	},
	computed : {
		finish(){
			return this.questions.every(q=>{
				return q.result;
			});
		}
	}
	
});
</script>
<style type="text/css">
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
body{
	padding: 10px
}
.res{
	display: inline-block;
	margin : 0px 5px;
	width: 60px;
	height: 20px;
	line-height:20px;
}
textarea,input {
	color:blue;
	font-size: 1.1em;
	font-weight : bold;
	margin: 2px;
	padding: 0px 20px 0px 2px;
}
.qlist dl{
	padding: 5px;
	border: 1px solid #ccc;
	background: #eee;
	border-radius: 5px;
}
.qlist dl dt{
	padding: 5px 20px;
}
.qlist dl:hover{
	border-color: blue;
}
.qlist{
	overflow: auto; 
}
pre{
	vertical-align: middle;
	font-family: 微软雅黑;
	overflow: auto;
	white-space:pre-wrap; /* css3.0 */ 
	white-space:-moz-pre-wrap; /* Firefox */ 
	white-space:-pre-wrap; /* Opera 4-6 */ 
	white-space:-o-pre-wrap; /* Opera 7 */ 
	word-wrap:break-word; /* Internet Explorer 5.5+ */ 
}
button{
	font-size: 1.1em;
	padding: 5px 20px;
}
b{
	color:#f0f
}
.dui{
	background: #fff url(images/dui.jpg) no-repeat right center;
	color : green;
}
.cuo{
	background: #fff url(images/cuo.jpg) no-repeat right center;
	color : #888;
}
h3{
	color:red
}
</style>
</html>