<!DOCTYPE html>
<html style="height: 100%">
<head>
<base target="_blank">
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<title>练习题</title>
<script src="/C0-S2-Ply-demo/_js/vue.min.js"></script>
<script type="text/javascript" src="../../../../_js/axios.min.js"></script>
<link href="/C0-S2-Ply-demo/_css/magiczoomplus.css" rel="stylesheet" type="text/css" media="screen"/>
<script src="/C0-S2-Ply-demo/_js/magiczoomplus.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../_css/q.css">
<script type="text/javascript" src="../../../../_js/pub.js"></script>
</head>
<body>
<div style="display: none;" id="pres">
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
<pre>
<h3>状态管理</h3>
<judge w>我们将浏览器与服务器的一次完整的交互过程称为会话</judge>
<judge w>会话具有 时序性 和 时效性</judge>
<judge w>会话的过程由N次请求响应组成，过程中所涉及的数据我们称之为: 状态</judge>
<judge w>维持整个会话过程的操作, 我们称之为: 状态管理</judge>

下列关于为什么需要状态管理, 说法正确的有:
<cbx :v="['HTTP协议是无状态的，不能保存每次提交的信息'
	,'浏览器需要知道服务器的运行状态'
	,'如果用户发来一个新的请求，服务器无法知道它是否与上次的请求有联系'
	,'服务器需要知道浏览器的运行状态']" 
	:a="[0,2]" s></cbx>

状态管理的两种常见模式包括：
<cbx :v="['硬盘空间状态管理技术'
	,'服务器状态管理技术'
	,'内存资源状态管理技术'
	,'客户端状态管理技术']" 
	:a="[1,3]" s></cbx>
</pre>

<pre>
<h3>Cookie</h3><pic s="_images/Cookie实现机制.jpg" class="qImg" w=300></pic>
<judge w>属于客户端的状态管理技术</judge>
<judge w>Cookie是小量信息，由服务器发送出来存储在浏览器上</judge>
<judge w>当存有Cookie数据的浏览器访问服务器时,  会选择和携带指定的Cookie, 向服务器发送请求, 服务器便可以读到返回的Cookie数据了</judge>

每个Cookie最多能存 (   ) 数据：
<cbx :v="['4B','4K','4M','4G']" :a="[1]"></cbx>
	
关于Cookie的应用场景: 
<cbx :v="['可以吃! 不解释!'
	,'实现快捷登录(记录登录过的用户)'
	,'记录用户视觉偏好'
	,'可以用户存放视频文件']" 
	:a="[1,2]" s></cbx>

下列关于Cookie 说法错误的有:
<cbx :v="['服务器可以发送Cookie值给浏览器'
	,'浏览器会保存服务器发送给浏览器的Cookie值'
	,'浏览器会将Cookie值回传给服务器'
	,'每个Cookie值都有有 name 和 value'
	,'浏览器只能保存一个网站的Cookie']" 
	:a="[4]" s=""></cbx>
</pre>

<pre>
<h3>服务器端 Cookie 的操作</h3><pic s="_images/Cookie实现机制1.jpg" class="qImg" w=300></pic>
参考右边的图片, 在该图 3 个步骤中, 下面两个方法分别应该是在第几步执行
addCookie() 	: <cbx :v="['步骤1','步骤2','步骤3']" :a="[1]"></cbx>
getCookies() 	: <cbx :v="['步骤1','步骤2','步骤3']" :a="[2]"></cbx>

根据提示填写对应代码行的行号: (注意:只填数字)
	创建 Cookie 对象: 	<ipt a="2"></ipt>
	添加 Cookie 到响应对象中: <ipt a="6"></ipt>
	设置 Cookie 有效期: 	<ipt a="3"></ipt>
	设置只有http协议能读这个cookie: <ipt a="5"></ipt>
	设置 Cookie 有效路径: <ipt a="4"></ipt>
	获取浏览器返回的Cookie数据: <ipt a="7"></ipt>

@Override
protected void doPost(HttpServletRequest req,HttpServletResponse resp) throws ServletException,IOException{
    第1行: req.setCharacterEncoding("utf-8");
	// 注意: encode 是对汉字编码, cookie默认不支持非西方文字
    第2行: Cookie cookie = new Cookie("username", URLEncoder.encode("张三", "utf-8")); 
    第3行: cookie.setMaxAge(60*60*24);
    第4行: cookie.setPath("/");
    第5行: cookie.setHttpOnly(true);
    第6行: resp.addCookie(cookie);
    第7行: req.getCookies();
    第8行: resp.setContentType("text/html,charset=utf-8");
    第9行: resp.getWriter().println("Cookie的使用");
}
</pre>

<pre>
<h3>关于 Cookie 优缺点</h3>
关于 Cookie 优缺点说法错误的是:
	<cbx :v="['简单性：Cookie 是一种基于文本的轻量结构，包含简单的键值对。'
		,'大小受到限制：大多数浏览器对 Cookie 的大小有 4096 字节的限制'
		,'Cookie数据可以永久的保存在客户端, 不用担心丢失'
		,'潜在的安全风险：Cookie 可能会被篡改'
		,'用户配置为禁用：有些用户禁用了浏览器或客户端设备接收 Cookie 的能力']" 
		:a="[2]" s=""></cbx>
</pre>

<pre expect="">
<h3>Cookie API练习</h3><pic s="_images/不改BUG.jpg" class="qImg" w=300></pic>
在浏览器上操作cookie使用的是 document.<input answer="cookie"> 对象
	添加一个名称为 name, 值为 john 的 cookie, JS的语法是:
	document.<input size=40 answer='cookie="name=john"'>;
	加一个名称为 age, 值为 18, 有效时长(有效期)为 1 小时的cookie, JS的语法是:
	document.<input size=40 answer='cookie="age=18;max-age=3600"'>;
	获取当前页面所有的cookie值, JS的语法是:
	document.<input size=40 answer='cookie'>;
	删除名为 age 的cookie, JS的语法是:
	document.<input size=40 answer='cookie="age=18;max-age=0"' regex='/^cookie="age=.+?;max-age=0"$/'>;
	
在服务器端cookie被封装成<input placeholder="写类的完全限定名(包名+类名)" answer="javax.servlet.http.Cookie">类
	创建一个名称为 name, 值为 john 的 cookie 对象 c1, Java的语法是:
	Cookie c1=<input size=40 answer='new Cookie("name","john")'>;
	续: 设置 c1 对象的有效期为 5 分钟
	<input size=40 answer='c1.setMaxAge(300)'>;
	续: 设置 c1 对象的路径为 /page/test/
	<input size=40 answer='c1.setPath("/page/test/")'>;
	续: 删除 c1 值
	<input size=40 answer='c1.setMaxAge(0)'>;
	续: 将 c1 对象添加到响应对象中, 假设响应对象名为 response
	<input size=40 answer='response.addCookie(c1)'>;
	从请求对象中获取所有的 cookie 对象, 假设请求对象名为 request
	Cookie[] cookies = <input size=40 answer='request.getCookies()'>;
</pre>

<pre>
<h3>Session 实现机制</h3><pic v-for="p in ['_images/会话实现机制1.jpg','_images/session.png']" :s="p" class="qImg" w=300></pic>
Session用于跟踪<cbx :v="['客户','服务器']" :a='[0]'></cbx>的状态。Session指的是在一段时间内，单个客户与Web服务器的一连串相关的<cbx :v="['资源共享','交互过程']" :a='[1]'></cbx>。
在一个Session中，客户可能会多次请求访问同一个网页，也有可能请求访问各种不同的服务器资源。
session被用于表示一个<cbx :v="['间断的','持续的']" :a='[1]'></cbx>的连接状态，在网站访问中一般指代客户端浏览器的进程<cbx :v="['从开启到结束','浏览网页']" :a='[0]'></cbx>的过程。
session其实就是网站分析的访问（visits）度量，表示一个<cbx :v="['访问','等待']" :a='[0]'></cbx>的过程。
session的常见实现形式是cookie（session cookie），即未设置过期时间的cookie，这个cookie的默认生命周期为<cbx :v="['永远有效','浏览器会话期间']" :a='[1]'></cbx>，只要关闭浏览器窗口，这个cookie就<cbx :v="['消失了','保存到磁盘了']" :a='[0]'></cbx>。
    实现机制是当用户发起一个请求的时候，服务器会检查该请求中是否包含<cbx :v="['会话ID(sessionId)','请求参数']" :a='[0]'></cbx>，
    如果未包含，则系统会创造一个名为<cbx :v="['COOKIEID','JSESSIONID']" :a='[1]'></cbx>的输出 cookie返回给浏览器(只放入内存，并不存在硬盘中)，并将其以HashTable的形式写到服务器的内存里面；
    当已经包含sessionid时，服务端会检查找到与该session相匹配的信息，如果存在则直接使用该sessionid，若不存在则重新生成<cbx :v="['请求','会话']" :a='[1]'></cbx>。
    这里需要注意的是session始终是由<cbx :v="['服务端创建的','浏览器创建的']" :a='[0]'></cbx>，并非浏览器自己生成的。
</pre>

<pre>
<h3>Session API</h3><pic s="_images/会话ID.jpg" class="qImg" w=300></pic>
Servlet会话对象的类的完全限定名是:
<cbx :v="['javax.servlet.HttpSession'
		,'javax.servlet.http.Session'
		,'javax.servlet.http.HttpSession'
		,'javax.servlet.http.HttpServletSession'
		,'javax.servlet.HttpServletSession']" 
		:a="[2]" s=""></cbx>

使session失效:
<cbx :v="['Object getAttribute(String name)'
		,'String getId()'
		,'void setAttribute(String name,Object value)'
		,'getCreationTime()'
		,'void invalidate()']" 
		:a="[4]" s=""></cbx>

获取session的Id值: 
<cbx :v="['void invalidate()'
		,'String getId()'
		,'int setMaxInactiveInterval()'
		,'void removeAttribute(String name )'
		,'Object getAttribute(String name)']" 
		:a="[1]" s=""></cbx>

获取session对象中名为参数name所指明的属性的值:
<cbx :v="['Object getAttribute(String name)'
		,'boolean isNew()'
		,'void setAttribute(String name,Object value)'
		,'void removeAttribute(String name )'
		,'void invalidate()']" 
		:a="[0]" s=""></cbx>
		
 从session中删除名为参数name所指明的属性:
<cbx :v="['Object getAttribute(String name)'
		,'String getId()'
		,'void setAttribute(String name,Object value)'
		,'void removeAttribute(String name )'
		,'void invalidate()']" 
		:a="[3]" s=""></cbx>

向session中存储数据:
<cbx :v="['Object getAttribute(String name)'
		,'String getId()'
		,'void setAttribute(String name,Object value)'
		,'void removeAttribute(String name )'
		,'void invalidate()']" 
		:a="[2]" s=""></cbx>
</pre>

<pre>
<h3>WEB服务器组件之王——应用上下文对象</h3><pic s="_images/作用域.jpg" class="qImg" w=300></pic>
<judge w>应用上下文对象的类是 ServletContext, 由于在JSP中它的对象名是application, 因此习惯上称呼它是application</judge>
<judge w>application 类似于系统的“全局变量”，用于实现用户之间的数据共享</judge>

请问下列哪些对象有获取 ServletContext 对象
<cbx :v="['Servlet对象'
		,'请求对象'
		,'响应对象'
		,'会话对象']" 
		a="2" s=""></cbx>
		
下列应用上下文对象方法中:
	A. getInitParameter()
	B. getAttribute()
	C. setAttribute()
	D. getContextPath()
	E. getRealPath()
获取属性值的方法是: <cbx :v="['A','B','C','D','E']" a=1></cbx>
设置属性值的方法是: <cbx :v="['A','B','C','D','E']" a=2></cbx>
获取初始化参数值的方法是: <cbx :v="['A','B','C','D','E']" a=0></cbx>
获取指定资源绝对(磁盘)路径的方法是: <cbx :v="['A','B','C','D','E']" a=4></cbx>
获取应用路径(工程名)的方法是:<cbx :v="['A','B','C','D','E']" a=3></cbx>
		
要在两个会话间共享数据, 要用应用上下文对象的 (    ) 方法
<cbx :v="['getInitParameter()'
		,'getAttribute()'
		,'setAttribute()'
		,'getContextPath()']" 
		a="21" s=""></cbx>
</pre>

<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
</div>
<script type="text/javascript">
new Vue({el:"#pres"});
</script>
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->

<div id="main">
	<fieldset class="alist">
		<legend>答题结果</legend>
		<div style="display: table;width: 100%">
			<div style="display: table-cell;vertical-align: middle;">
				<span class="res" v-for="q,i in questions">
					题{{i+1}}: <b style="color: red">{{q.result?'对':''}}</b>
				</span>
			</div>
			<div style="display: table-cell; width: 150px; text-align: center;">
				<button @click="commit" :disabled="finish==false">提交答卷</button>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>题目: </legend>
		<prompt>
			<li><a href="https://segmentfault.com/a/1190000016248401">浏览器cookie详解</a></li>
			<li><a href="https://blog.csdn.net/qq_30095631/article/details/103795327">java服务端操作cookie</a></li>
			<li><a href="https://www.cnblogs.com/realshijing/p/7878949.html">HttpSession API</a></li>
			<li><a href="https://blog.csdn.net/qq_37834488/article/details/89422412">Web之状态管理 ( 重点 )</a></li>
		</prompt>
		<div class="qlist">
		<dl v-for="q,i in questions">
			<dt>第{{i+1}}题 <b style="color: red;">{{q.result?'对':''}}</b>
				<button @click="q.test()" style="float: right">检 查</button><br>
			</dt>
			<dd @click="a(q)">
				<pre v-html="q.content"></pre>
			</dd>
			<dd v-if="q.expect">
				正确的结果: <span>{{q.expect}}</span><br>
				你写的结果: <span>{{q.resultText}}</span>
			</dd>
		</dl>
		</div>
	</fieldset>
</div>
</body>
<script type="text/javascript" src="../../../../_js/q.js"></script>
</html>