<!DOCTYPE html>
<html style="height: 100%">
<head>
<base target="_blank">
<meta charset="UTF-8">
<meta http-equit="pragma" content="no-cache"> 
<meta http-equit="Cache-Control" content="no-cache, must-revalidate"> 
<meta http-equit="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<title>练习题</title>
<script src="/C0-S2-Ply-demo/_js/vue.min.js"></script>
<script type="text/javascript" src="/C0-S2-Ply-demo/_js/axios.min.js"></script>
<link href="/C0-S2-Ply-demo/_css/magiczoomplus.css" rel="stylesheet" type="text/css" media="screen"/>
<script src="/C0-S2-Ply-demo/_js/magiczoomplus.js"></script>
<link rel="stylesheet" type="text/css" href="/C0-S2-Ply-demo/_css/q1.css">
<script type="text/javascript" src="/C0-S2-Ply-demo/_js/pub1.js"></script>
</head>
<body>
<div style="display: none;" id="pres">
<!--
	<ipt a="正确答案" r="正则验证" w="宽度"></ipt>
	<prompt>
		<li><a href="#">参考	( 必须放在 qlist 前)</a></li>
	</prompt>
 -->
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
<div>
<h3>NoSQL概述</h3>
	<c>NoSQL = Not Only SQL  即: 非关系型数据库</c>
	<c>
		为什么需要NoSQL{[][的奇葩理由是]}:
		High performance 高并发读写
		Huge Storage 海量数据的高效率存储和访问
		High Scalability && High Availability 高可扩展性和高可用性
		!为了打破 SQL 唯我独尊的市场垄断地位!
	</c>
	<c>
		NoSQL数据库的四大分类{[][, 下列哪个是错误的]}:
		键值对(Key-Value)存储：Redis  
	   	列存储：HBase
	   	文档数据库：MongoDB
	   	图形数据库：InfoGrid
	   	 !关系型数据库：Oracle</c>
</div>

<div>
<h3>Redis简介</h3>
	<c>REmote DIctionary Server(Redis) 是完全开源{[免费][收费]}的，遵守BSD协议，是一个高性能的key-value数据库</c>
	<c>Redis 性能极高 – Redis能读的速度是110000次/s,写的速度是 {[81000][18000]} 次/s</c>
	<c>
		Redis提供了一些丰富的数据结构，包括:
		Sorted Set: 有序集合 | Set: 集合 | List: 列表 | Hash: 散列 | String: 字符串
	</c>
	<c>
		Redis支持丰富操作, {[][但不]}包括:
		Redis支持数据的持久化，可以将内存中的数据保存在磁盘中，重启后再次加载进行使用  
	   	Redis不仅支持key-value类型的数据，还提供list，set，zset，hash等数据结构的存储
	   	Redis支持数据的备份，即master-slave模式的数据备份
	   	 !支持关系型数据</c>
</div>

<div>
<h3>Redis安装与配置</h3>
	<c>
		 Redis服务器的启动命令{[][不]}包括:
		redis-server.exe redis.windows.conf|
		redis-server.exe|
		!redis-cli.exe -h 127.0.0.1 -p 6379|
		!redis-cli.exe|</c>
	<c>
	 Redis客户端的启动命令{[][不]}包括:
		!redis-server.exe redis.windows.conf|
		!redis-server.exe|
		redis-cli.exe -h 127.0.0.1 -p 6379|
		redis-cli.exe|</c>
	<c>
	 Redis 获取配置参数的命令格式{[][错误的]}是:
	 CONFIG GET 配置项  | ! CONFIG GET 配置项 配置值|  !CONFIG SET 配置项| !CONFIG SET 配置项 配置值</c>
	<c>
	 Redis 设置配置参数的命令格式{[][错误的]}是:
	  !CONFIG GET 配置项  | ! CONFIG GET 配置项 配置值|  !CONFIG SET 配置项| CONFIG SET 配置项 配置值 </c>
	<c>
	 Redis 的配置文件位于 Redis 安装目录下，文件名{[][错误的]}是:
	  !redis.ini|!redis.windows.ini|!redis-server.exe|redis.conf|redis.windows.conf|</c>
	<c>
	 指定 Redis 监听端口，默认端口为 6379, {[][不是该]}配置项的是:
	 port |!bind |!databases |!save |!timeout |</c>
	<c>
	 绑定的主机地址, {[][不是该]}配置项的是:
	 !port |bind |!databases |!save |!timeout | </c>
	<c>
	 当客户端闲置多长秒后关闭连接，如果指定为 0 ，表示关闭该功能, {[][不是该]}配置项的是:
	 !port |!bind |!databases |!save |timeout |</c>
	<c>
	 设置数据库的数量，默认数据库为0, {[][不是该]}配置项的是:
	 !port |!bind |databases |!save |!timeout |</c>
	<c>
	 指定在多长时间内，有多少次更新操作，就将数据同步到数据文件, {[][不是该]}配置项的是:
	 !port |!bind |!databases |save |!timeout |</c>
	<pic s="01-Redis目录.png | 01-服务器运行界面.png | 01-客户端操作界面.jpg" prefix="_images/redis/"></pic>
</div>

<div>
<h3>Redis数据类型</h3>
	<c>
	 最基本的类型, 一个 key 对应一个 value, {[][错误的]}是:
	   ! hash（哈希）|	! list（列表）|	! set（集合）|   string（字符串）|  !  zset(sorted set：有序集合)</c>
	<c>
	 键值(key=>value)对集合, {[][错误的]}是:
	    hash（哈希）|	! list（列表）|	! set（集合）|   !string（字符串）|  !  zset(sorted set：有序集合)</c>
	<c>
	  简单的字符串列表，按照插入顺序排序, {[][错误的]}是:
	   ! hash（哈希）|	list（列表）|	! set（集合）|   !string（字符串）|  !  zset(sorted set：有序集合)</c>
	<c>
	  string 类型的无序集合, {[][错误的]}是:
	  ! hash（哈希）|	! list（列表）|	 set（集合）|   !string（字符串）|  !  zset(sorted set：有序集合)</c>
	<c>
	 也是string类型元素的集合,且不允许重复的成员。不同的是每个元素都会关联一个double类型的分数。redis正是通过分数来为集合中的成员进行从小到大的排序, {[][错误的]}是:
	  ! hash（哈希）|	! list（列表）|	! set（集合）|   !string（字符串）|   zset(sorted set：有序集合)</c>
</div>

<div>
<h3>基本命令格式</h3>
list（列表）的命令名, 一般以<ipt a="L" r="/^l$/i"></ipt>字母开头
set（集合）的命令名, 一般以<ipt a="S" r="/^s$/i"></ipt>字母开头
zset（sorted set：有序集合）的命令名, 一般以<ipt a="Z" r="/^z$/i"></ipt>字母开头
hash（哈希）的命令名, 一般以<ipt a="H" r="/^h$/i"></ipt>字母开头

<h4>Redis命令关键字</h4><c>
	Redis 的命令名中包含 len 的命令, {[一般用于][用法错误的是]}:
	获取长度  |  !判断元素是否存在  | !删除元素  |  !表示多个元素  | !表示不存在就赋值 
</c><c>
	Redis 的命令名中包含 exists 的命令,  {[一般用于][用法错误的是]}:
	!获取长度  | 判断元素是否存在  | !删除元素  |  !表示多个元素  | !表示不存在就赋值 
</c><c>
	Redis 的命令名中包含 del 或 rem 的命令,  {[一般用于][用法错误的是]}:
	!获取长度  |  !判断元素是否存在  | 删除元素  |  !表示多个元素  | !表示不存在就赋值 
</c><c>
	Redis 的命令名中包含 m 的命令,  {[一般用于][用法错误的是]}:
	!获取长度  |  !判断元素是否存在  | !删除元素  | 表示多个元素  | !表示不存在就赋值 
</c><c>
	Redis 的命令名中包含 nx 的命令,  {[一般用于][用法错误的是]}:
	!获取长度  |  !判断元素是否存在  | !删除元素  |  !表示多个元素  |表示不存在就赋值 
</c><h4>Redis通配符</h4><c>
	Redis 通配符中: ? {[表示][不能用于]}:
	匹配一个字符  |  !匹配任意个(包括 0 个)字符  | !匹配括号间任一字符，可以使用 "-" 符号表示一个范围  |  !转义符号 
</c><c>
	Redis 通配符中: *  {[表示][不能用于]}:
	!匹配一个字符  | 匹配任意个(包括 0 个)字符  | !匹配括号间任一字符，可以使用 "-" 符号表示一个范围  |  !转义符号 
</c><c>
	Redis 通配符中: []  {[表示][不能用于]}:
	!匹配一个字符  |  !匹配任意个(包括 0 个)字符  |匹配括号间任一字符，可以使用 "-" 符号表示一个范围  |  !转义符号 
</c><c>
	Redis 通配符中: \  {[表示][不能用于]}:
	!匹配一个字符  |  !匹配任意个(包括 0 个)字符  | !匹配括号间任一字符，可以使用 "-" 符号表示一个范围  |  转义符号 
</c>
</div>
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
</div>
<script type="text/javascript">
new Vue({el:"#pres"});
</script>
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->

<div id="main">
	<fieldset class="alist">
		<legend>答题结果</legend>
		<div style="display: table;width: 100%">
			<div style="display: table-cell;vertical-align: middle;">
				<span class="res" v-for="q,i in questions">
					题{{i+1}}: <b style="color: red">{{q.result?'对':''}}</b>
				</span>
			</div>
			<div style="display: table-cell; width: 150px; text-align: center;">
				<button @click="commit" :disabled="finish==false">提交答卷</button>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>题目: </legend>
		<prompt>
			<li><a href="https://www.runoob.com/redis/redis-tutorial.html">Redis 教程</a></li>
			<li><a href="https://www.cnblogs.com/liu-bear/p/10782244.html">Redis 的优缺点</a></li>
			<li><a href="http://try.redis.io/">Redis 在线测试</a></li>
			<li><a href="http://doc.redisfans.com/">Redis 命令参考</a></li>
		</prompt>
		<div class="qlist">
		<dl v-for="q,i in questions">
			<dt>第{{i+1}}题 <b style="color: red;">{{q.result?'对':''}}</b>
				<button @click="q.test()" style="float: right">检 查</button><br>
			</dt>
			<dd @click="a(q)">
				<pre v-html="q.content"></pre>
			</dd>
			<dd v-if="q.expect">
				正确的结果: <span>{{q.expect}}</span><br>
				你写的结果: <span>{{q.resultText}}</span>
			</dd>
		</dl>
		</div>
	</fieldset>
</div>
</body>
<script type="text/javascript" src="/C0-S2-Ply-demo/_js/q1.js"></script>
</html>