<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>省市县联动</title>
<style type="text/css">
select {
	width: 100px
}
</style>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<div id="main">
		<h3>AJAX实现省市联动</h3>
		省:<select id="sheng" @change="loadCitys">
			<option v-for="p in provinces">{{p}}</option>
		</select> 市:<select id="shi" @change="loadCountys">
			<option v-for="c in citys">{{c}}</option>
		</select> 县:<select id="xian">
			<option v-for="c in countys">{{c}}</option>
		</select>
		<hr>
		<dl>
			<dt>要求:
			<dd>
				<ol>
					<li>使用 AJAX 方式从后台获取省市县的数据, 加载到下拉列表选项中
					<li>在选择 省 和 市 时, 发送 AJAX 请求, 获取对应的 市 和 县 的数据, 加载到对应的下拉列表选项中
				</ol>
		</dl>
		<dl>
			<dt>提示: 关于数据返回格式
			<dd>
				<ol>
					<li>可以使用字符串拼接成一个字符串, 例如: "北京,天津,湖南,湖北...", 然后用JS进行字符串解析( split )
					<li>也可以考虑使用拼接 JSON 格式 字符串, 例如: "['北京','天津','湖南','湖北'....]", 然后用 eval 函数, 或 JSON.parse函数, 将其转换成 JS数组.
				</ol>
		</dl>
	</div>
	<script type="text/javascript">
	var vue = new Vue({
		el : "#main",
		data : {
			provinces : [],
			citys : [],
			countys : []
		},
		methods : {
			loadProvinces(){
				axios.get('http://47.106.66.89:1112/exa/areas')
				  .then(resp => {
					  this.provinces = resp.data;
					  /* this.$nextTick(()=>{
						  // 更好的写法
						  this.loadCitys();
					  }); */
					  return axios.get('http://47.106.66.89:1112/exa/areas',{params:{pIndex:0}});
				  }).then(resp => {
					  this.citys = resp.data;
					  return axios.get('http://47.106.66.89:1112/exa/areas',{params:{pIndex:0,cIndex:0}});
				  }).then(resp => {
					  this.countys = resp.data;
				  });
			},
			loadCitys(){
				axios.get('http://47.106.66.89:1112/exa/areas',{params:{pIndex:sheng.selectedIndex}})
				  .then(resp => {
					  this.citys = resp.data;
					  /* this.$nextTick(()=>{
						  // 更好的写法
						  this.loadCountys();
					  }); */
					  return axios.get('http://47.106.66.89:1112/exa/areas',{params:{pIndex:sheng.selectedIndex,cIndex:0}});
				  }).then(resp => {
					  this.countys = resp.data;
				  });
			},
			loadCountys(){
				axios.get('http://47.106.66.89:1112/exa/areas',{
					params:{
						pIndex:sheng.selectedIndex,
						cIndex:shi.selectedIndex
					}
				})
				  .then(resp => {
					  this.countys = resp.data;
				  });
			}
		},
		// vue中created与mounted区别 : https://segmentfault.com/a/1190000020058583
		mounted : function(){
			this.loadProvinces();
		}
	});
</script>
</body>
</html>