<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="css/style.default.css" rel="stylesheet">
<link href="css/select2.css" rel="stylesheet" />
<link href="css/style.datatables.css" rel="stylesheet">
<link href="css/datatables.responsive.css" rel="stylesheet">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<style type="text/css">
label {
	width: 100px;
	display: inline-block;
	text-align: center;
}

input[type="submit"] {
	width: 80px
}
</style>
</head>
<body>
	<div id="app">
		<form method="post" style="margin: 10px">
			<label>书名:</label><input v-model="book.bookname">
			<label>出版社:</label><input v-model="book.bookpress">
			<label>作者:</label><input v-model="book.bookauthor">
			<label><input type="button" value="查 询" @click="getData" class="btn btn-default btn-rounded"></label>
			<label><input type="button" value="添 加" class="btn btn-default btn-rounded"></label>
		</form>
		<table border="1" cellspacing="0" cellpadding="0" class="table">
			<tr>
				<th>序号</th>
				<th>编号</th>
				<th>书名</th>
				<th>出版社</th>
				<th>出版时间</th>
				<th>作者</th>
				<th>数量</th>
				<th>图片</th>
				<th>操作</th>
			</tr>
			<tr v-for=" (book,i) in booklist">
				<td>{{i+1}}</td>
				<td>{{book.bookid}}</td>
				<td><a :href="'book.do?op=get&bookid='+book.bookid">{{book.bookname}} </a></td>
				<td>{{book.bookpress}}</td>
				<td>{{book.pressdate}}</td>
				<td>{{book.bookauthor}}</td>
				<td>{{book.bookcount}}</td>
				<td align="center"><img :src="book.bookimage" height="80px"></td>
				<td align="center">
					<input type="button" value="修 改" class="btn btn-rounded">
					<input type="button" value="删 除" class="btn btn-rounded">
				</td>
			</tr>
		</table>
	</div>
	<script type="text/javascript">
		new Vue({
			el:"#app",
			data:{booklist:[], book:{}},
			methods:{ 
				  getData(){
					let self = this; 
					$.get("book.do?op=query", self.book, function (res) { 
				 	   self.booklist = res; 
				  	}) 
				  } 
			}, 
			created:function() { 
				this.getData(); 
			}, 
		});
		function create(){
			location.href='edit.html'
		}
	</script>
</body>
</html>