<!DOCTYPE html>
<html style="height: 100%">
<head>
<base target="_blank">
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<title>练习题</title>
<script src="/C0-S2-Ply-demo/_js/vue.min.js"></script>
<link href="/C0-S2-Ply-demo/_css/magiczoomplus.css" rel="stylesheet" type="text/css" media="screen"/>
<script src="/C0-S2-Ply-demo/_js/magiczoomplus.js"></script>
<link rel="stylesheet" type="text/css" href="/C0-S2-Ply-demo/_css/q.css">
<script type="text/javascript" src="/C0-S2-Ply-demo/_js/pub.js"></script>
</head>
<body>
<div style="display: none;" id="pres">
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
<pre>
<h3>从这部电影开始 —— <a href="https://baike.baidu.com/item/%E9%BB%91%E5%AE%A2%E5%B8%9D%E5%9B%BD/34564?fr=aladdin">黑客帝国</a></h3>
<pic v-for="f of ['我为什么在这里.JPG','矩阵世界.gif','挡子弹.gif']" v-if="f" :s="'_images/'+f" class=qImg w=400></pic><pic s="_images/海报.jpg" w=500></pic>


<h3>在加入就业大军前 , 给自己加一个"生存砝码"</h3>
	<img src="_images/天平秤.jpg" width="200px">

<h3>在投身职场炼狱前 , 给自己加一套"牛叉装备"</h3>
	<img src="_images/牛叉装备.jpg" width="200px">

<judge t><b>现在, 你知道你为什么在这里了吗?</b></judge>
</pre>

<pre><pic v-for="f of ['程序员.jpg','2019行业排行.jpeg','']" v-if="f" :s="'_images/'+f" class=qImg w=400></pic>
<h3><a href="https://baike.baidu.com/item/%E8%BD%AF%E4%BB%B6%E4%BA%A7%E4%B8%9A/613708?fr=aladdin">软件产业</a></h3>	软件产业：以生产或制造软件的企业统称，软件这个术语首次被使用是在1959年，而软件业从1949年就开始了。初期的发展，这个初期的发展几乎都是在美国完成。引用麦肯锡的分类方法，到今为止，软件已经经历了比较完整的5代。

<h3><a href="https://baijiahao.baidu.com/s?id=1648869214535816563&wfr=spider&for=pc">软件开发行业究竟有哪些工作岗位 ?</a></h3>	产品经理
	架构师
	UI设计师
	前端开发工程师
	后端开发工程师
	测试工程师
	运维工程师
	大数据开发工程师
	......

<h3><a href="https://www.phbang.cn/pics/2020/256489.html">2019各行业薪资排行</a></h3>	又是一年毕业时，莘莘学子，寒窗数载，终于学有所成，站到了职业选择的十字路口。不管未来进入哪个行业，选择什么职业，薪酬永远是一个“俗不可耐”却又无法绕过的话题。各个行业的薪酬分布如何？差异大吗？根据这些薪酬数据，应该如何合理的进行职业规划和选择？

<judge t><b>你现在对软件行业, 是不是有了一个初步的了解?</b></judge>
</pre>

<pre><pic v-for="f of ['学编程.jpg','语言是什么.png','好多语言.png']" :s="'_images/'+f" class=qImg w=400></pic>
<h3>计算机语言简介</h3>
<judge w>计算机语言总的来说分为机器语言，汇编语言，高级语言三大类</judge>

<judge w>最早出现的计算机语言是机器语言</judge>
1946年2月14日，世界上第一台计算机ENAC诞生，使用的是最原始的穿孔卡片。这种卡片上使用的语言是只有专家才能理解的语言，与人类语言差别极大，这种语言就称为机器语言。机器语言是第一代计算机语言。这种语言本质上是计算机能识别的唯一语言，人类很难理解。以后的语言就是在这个的基础上简化而来。虽然后来发展的语言能让人类直接理解但最终送入计算机的还是这种机器语言。

<judge w>汇编语言是第二代计算机语言</judge>
计算机语言发展到第二代，出现了汇编语言。汇编语言用助记符代替了操作码，用地址符号或标号代替地址码。这样就用符号代替了机器语言的二进制码。汇编语言也称为符号语言。比起机器语言，汇编大大进步了。尽管还是复杂，用起来容易出错，但在计算机语言发展史上是机器语言向更高级的语言进化的桥梁。

<judge w>现在我们学习和使用的基本都是第三代计算机语言了</judge>
当计算机语言发展到第三代时，就进入了“面向人类”的高级语言。高级语言是一种接近于人们使用习惯的程序设计语言。它允许用英文写计算程序，程序中的符号和算式也与日常用的数学式子差不多。高级语言发展于20世纪50年代中叶到70年代，流行的高级语言已经开始固化在计算机内存里了，比如 basic语言。现在，计算机语言仍然在不断的发展，种类也相当多，比如 FORTRAN语言， COBOL语言，C语言，C++，C#， PASCAO，JAVA等等。
</pre>

<pre><pic v-for="f of ['java.jpg','编程排行.jpg']" :s="'_images/'+f" class=qImg w=400></pic>
<h3>Java语言简介</h3>
Java的名字的由来跟哪个咖啡产地有关: 
<cbx :v="['中国海南岛','印尼爪哇岛','巴西']" a="1"></cbx>

(    )使Java成为网络上最流行的编程语言:  
<cbx :v="['Internet','游戏','黑客','经济危机']" :a="[0]"></cbx>

<judge t>Java语言最大的特点是——跨平台</judge>

Java的创始公司是:  
<cbx :v="['Oracle','Sun','Microsoft','IBM']" :a="[1]"></cbx>

Java现在属于 (     ) 公司是:  
<cbx :v="['Oracle','HP','Microsoft','IBM']" :a="[0]"></cbx>

Java首个版本发布时间是:  
<cbx :v="['1991','1994','1995','1996']" :a="[2]"></cbx>

Java最初的命名是:  
<cbx :v="['Java','Oak','Oracle','PB']" :a="[1]"></cbx>

<cbx :v="['A.比尔盖茨','B.马云','C.詹姆斯高斯林','D.布兰登艾特']" :a="[2]">Java的创始人是:  </cbx>
<pic style="margin:10px 35px" v-for="(a,i) in authors" :s="'_images/'+a+'.png'">{{codes.charAt(i)}} . {{a}}</pic>
</pre>

<pre><pic s="_images/conf.jpg" class="qImg" w=300></pic>
<h3>Java安装:配置环境变量</h3>
参考资料: <a href="https://jingyan.baidu.com/article/60ccbceb6f392f64cab19735.html?qq-pf-to=pcqq.c2c">Java环境变量设置</a>
安装Java需要配置的环境变量包括 (       ): 
	<cbx :v="['java_home','javascript','classpath','path']" a="023"></cbx>

配置 Java 安装路径的环境变量是 : <ipt a="java_home"></ipt>
配置 Java 类路径的环境变量是 : <ipt a="classpath"></ipt>, 该环境变量最简单的配置只要配置一个<ipt a="."></ipt>号就可以了
配置 Java 命令文件搜索路径的环境变量是 : <ipt a="path"></ipt>
</pre>

<pre>
<h3>三个重要概念</h3><pic s="_images/drv.jpg" class="qImg" w=300></pic>
Java语言内部运行的核心是Java虚拟机, 说的是 (       ): 
	<cbx :v="['JDK','JRE','JVM']" :a="[2]"></cbx>

包含Java运行的基本类库和开发命令，可以进行完整的Java开发, 说的是 (       ): 
	<cbx :v="['JDK','JRE','JVM']" :a="[0]"></cbx>

包含Java运行的基本类库和一些运行命令，可以运行编译好的Java程序, 说的是 (       ): 
	<cbx :v="['JDK','JRE','JVM']" :a="[1]"></cbx>
</pre>

<pre>
<h3>语言的构成</h3><pic s="_images/sem.jpg" class="qImg" w=300></pic>
请选择: 
Java的标准版是: <cbx :v="['A','B','C','D']" :a="[3]"></cbx>
Java的企业版是: <cbx :v="['A','B','C','D']" :a="[0]"></cbx>
Java的微型版是: <cbx :v="['A','B','C','D']" :a="[1]"></cbx>

A. JavaEE      B. JavaME      C. JavaUE      D. JavaSE
	
</pre>

<pre>
<h3>三个基本命令</h3><pic s="_images/01.jpg" class="qImg" w=300></pic>
请问下那个命令是在编译 java 文件(   )
	<cbx :v="['java Hello.java','javac Hello.java','javac Hello.class','javadoc Hello.java']" :a="[1]" s></cbx>
	
请问下那个命令是在执行 java 文件(   )
	<cbx :v="['java Hello.java','javac Hello.java','java Hello','javac Hello']" :a="[2]" s></cbx>
	
请问下那个命令是在导出 java 文件中的文档注释(   )
	<cbx :v="['java Hello.class','javadoc Hello.java','java Hello','javac Hello']" :a="[1]" s></cbx>
	
Java 的代码文件的后缀是<ipt  a=".java" r="/^\.?java$/i"></ipt>
Java 的源代码在编译后 , 产生的字节码文件的后缀是<ipt  a=".class" r="/^\.?class$/i"></ipt>
编辑 java 文件的命令名是 : <ipt  a="javac" r="/^javac$/i"></ipt>
执行字节码 class 文件的命令名是 : <ipt  a="java" r="/^java$/i"></ipt>
</pre>

<pre>
<h3>最后, 思考下这几个问题: </h3><pic s="/C0-S2-Ply-demo/_images/face/只有学习.jpg" class="qImg" w=300></pic>
<h4>在这里能学到什么?</h4>	学校教理论, 源辰学技术.
	入职靠技术, 涨薪凭理论.

<h4>我该如何学?</h4>	20% 先想在写, 80% 先写再想.
	态度决定高度, 改变从现在开始.
	
<h4>英语必须好吗?</h4>	月薪三千五, 英语无所谓.
	月薪一万六, 英语必须溜.
	
<h4>你准备好了吗?</h4>	<cbx :v="['元气满满!!!!','陷入沉思.....']" :a="[0]"></cbx>
</pre>

<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
</div>
<script type="text/javascript">
new Vue({
	el:"#pres",
	data : {
		codes : 'ABCDEFG',
		authors : ["比尔盖茨","马云","詹姆斯高斯林","布兰登艾奇"]
	}
});
</script>
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->

<div id="main">
	<fieldset class="alist">
		<legend>答题结果</legend>
		<div style="display: table;width: 100%">
			<div style="display: table-cell;vertical-align: middle;">
				<span class="res" v-for="q,i in questions">
					题{{i+1}}: <b style="color: red">{{q.result?'对':''}}</b>
				</span>
			</div>
			<div style="display: table-cell; width: 150px; text-align: center;">
				<button @click="commit" :disabled="finish==false">提交答卷</button>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>题目: </legend>
		<div class="qlist">
		<dl v-for="q,i in questions">
			<dt>第{{i+1}}题 <b style="color: red;">{{q.result?'对':''}}</b>
				<button @click="q.test()" style="float: right">检 查</button><br>
			</dt>
			<dd @click="a(q)">
				<pre v-html="q.content"></pre>
			</dd>
			<dd v-if="q.expect">
				正确的结果: <span>{{q.expect}}</span><br>
				你写的结果: <span>{{q.resultText}}</span>
			</dd>
		</dl>
		</div>
	</fieldset>
</div>
</body>
<script type="text/javascript" src="/C0-S2-Ply-demo/_js/q.js"></script>
</html>