<!DOCTYPE html>
<html style="height: 100%">
<head>
<base target="_blank">
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<title>练习题</title>
<script src="/C0-S2-Ply-demo/_js/vue.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link rel="stylesheet" type="text/css" href="/C0-S2-Ply-demo/_css/q.css">
<script type="text/javascript" src="/C0-S2-Ply-demo/_js/pub.js"></script>
</head>
<body>
<div style="display: none;" id="pres">
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
<pre>
<h3>标识符命名规则</h3>
变量、函数、数组、对象、类和接口等等都需要命名，这些名称统称为标识符
Java中对于标识符的命名规则作了如下限制:

	只能由英文字母、数字、下划线“_”和“$”符号组成
		<input type="checkbox" name=1 value="字母" answer><input type="checkbox" name=1 value="$" answer><input type="checkbox" name=1 value="#"><input type="checkbox" name=1 value="数字" answer><input type="checkbox" name=1 value="_" answer>
		
	必须以英文字母、“_”或“$”开头，即不能以数字开头
		<input type="radio" name=2 value="对" answer><input type="radio" name=2 value="错">
		
	不能与关键字冲突:
		<input type="radio" name=3 value="对" answer><input type="radio" name=3 value="错">
		
	不区分大小写:
		<input type="radio" name=4 value="对"><input type="radio" name=4 value="错" answer>
</pre>

<pre>
<h3>标识符命名规则练习</h3>
下列标识符不合法的有（）
	<cbx :v='["new","$Usdollars","1234","car.taxi"]' :a=[0,2,3]></cbx>
	
下列标识符合法的有（）
	<cbx :v='["Greeting1","G","void","101dalmatians","Hello, world"]' :a=[1,0]></cbx>
</pre>

<pre>
<h3>变量</h3>
<judge w="450px" t="变量是内存(堆栈)中的一块存储区域，是存储数据的基本单元"></judge>

判断下列变量定义是否正确
	<judge w="300px" t="int num;"></judge>
	<judge w="300px" f="int a + b = 12;"></judge>
	<judge w="300px" t="char ch1, ch2 = 'A';"></judge>
	<judge w="300px" f="int a > b;"></judge>
	<judge w="300px" t="float money = 123.45f;"></judge>
</pre>

<pre>
<h3>数据类型 1</h3>
<judge w="450px" t="数据类型用来确定要存储在内存单元中的数据的类型"></judge>

在Java中，数据类型被区分成两个种类, 分别是(    )
	<cbx :v='["原始数据类型","扩展数据类型","引用数据类型","派生数据类型"]' :a=[2,0] s=""></cbx>
</pre>

<pre>
<h3>数据类型 2</h3>
<judge w="450px" t="原始数据类型是最简单的数据形式，分为 4 类 8 种"></judge>

Java基本数据类型中, 字符类型是(    )
	<cbx :v='["byte","short","int","long","float","double","char","boolean"]' :a=[6]></cbx>
	
Java基本数据类型中, 布尔类型是(    )
	<cbx :v='["byte","short","int","long","float","double","char","boolean"]' :a=[7]></cbx>
	
Java基本数据类型中, 整数类型是(    )
	<cbx :v='["byte","short","int","long","float","double","char","boolean"]' :a=[0,1,2,3]></cbx>
	
Java基本数据类型中, 浮点数类型是(    )
	<cbx :v='["byte","short","int","long","float","double","char","boolean"]' :a=[4,5]></cbx>
	
Java基本数据类型中, 属于数字类型是(    )
	<cbx :v='["byte","short","int","long","float","double","char","boolean"]' :a=[0,1,2,3,4,5]></cbx>
	
Java基本数据类型中, 1个字节的类型是(    )
	<cbx :v='["byte","short","int","long","float","double","char","boolean"]' :a=[0,7]></cbx>
	
Java基本数据类型中, 2个字节的类型是(    )
	<cbx :v='["byte","short","int","long","float","double","char","boolean"]' :a=[1,6]></cbx>
	
Java基本数据类型中, 4个字节的类型是(    )
	<cbx :v='["byte","short","int","long","float","double","char","boolean"]' :a=[2,4]></cbx>
	
Java基本数据类型中, 8个字节的类型是(    )
	<cbx :v='["byte","short","int","long","float","double","char","boolean"]' :a=[3,5]></cbx>

</pre>

<pre>
<h3>数据类型 3</h3>
Java基本数据类型中, 取值范围是 -1.7e+308~1.7e+308 的数据类型是(    )
	<cbx :v='["byte","short","int","long","float","double","char","boolean"]' :a=[5]></cbx>

Java基本数据类型中, 取值范围是 true/false 的数据类型是(    )
	<cbx :v='["byte","short","int","long","float","double","char","boolean"]' :a=[7]></cbx>

Java基本数据类型中, 取值范围是 -2的63次方~2的63次方-1 的数据类型是(    )
	<cbx :v='["byte","short","int","long","float","double","char","boolean"]' :a=[3]></cbx>

Java基本数据类型中, 取值范围是 -128~127 的数据类型是(    )
	<cbx :v='["byte","short","int","long","float","double","char","boolean"]' :a=[0]></cbx>

Java基本数据类型中, 取值范围是 '\u0000'~'\uFFFF' 对应数字 0-65535 的数据类型是(    )
	<cbx :v='["byte","short","int","long","float","double","char","boolean"]' :a=[6]></cbx>

Java基本数据类型中, 取值范围是 -32768~32767 的数据类型是(    )
	<cbx :v='["byte","short","int","long","float","double","char","boolean"]' :a=[1]></cbx>

Java基本数据类型中, 取值范围是 -2的31次方~2的31次方-1 的数据类型是(    )
	<cbx :v='["byte","short","int","long","float","double","char","boolean"]' :a=[2]></cbx>

Java基本数据类型中, 取值范围是 -3.4e+38~3.4e+38 的数据类型是(    )
	<cbx :v='["byte","short","int","long","float","double","char","boolean"]' :a=[4]></cbx>
</pre>

<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
</div>
<script type="text/javascript">
new Vue({el:"#pres"});
</script>
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->

<div id="main">
	<fieldset class="alist">
		<legend>答题结果</legend>
		<div style="display: table;width: 100%">
			<div style="display: table-cell;vertical-align: middle;">
				<span class="res" v-for="q,i in questions">
					题{{i+1}}: <b style="color: red">{{q.result?'对':''}}</b>
				</span>
			</div>
			<div style="display: table-cell; width: 150px; text-align: center;">
				<button @click="commit" :disabled="finish==false">提交答卷</button>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>题目: </legend>
		<div class="qlist">
		<dl v-for="q,i in questions">
			<dt>第{{i+1}}题 <b style="color: red;">{{q.result?'对':''}}</b>
				<button @click="q.test()" style="float: right">检 查</button><br>
			</dt>
			<dd @click="a(q)">
				<pre v-html="q.content"></pre>
			</dd>
			<dd v-if="q.expect">
				正确的结果: <span>{{q.expect}}</span><br>
				你写的结果: <span>{{q.resultText}}</span>
			</dd>
		</dl>
		</div>
	</fieldset>
</div>
</body>
<script type="text/javascript" src="/C0-S2-Ply-demo/_js/q.js"></script>
</html>