<!DOCTYPE html>
<html style="height: 100%">
<head>
<base target="_blank">
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<title>练习题</title>
<script src="/C0-S2-Ply-demo/_js/vue.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../../../_css/q.css">
<script type="text/javascript" src="../../../../_js/pub.js"></script>
</head>
<body>
<div style="display: none;" id="pres">
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
<pre>
<h3>boolean类型</h3>
下列关于 boolean 类型说法错误的是:
	<cbx :v='["boolean 类型的 false 表示假, true 表示真"
	,"一个 boolean 类型的变量用来表示一个或真或假的关系"
	,"一个 boolean 类型变量的值必须是true 或 false二者之一"
	,"数字 0 可以表示 false, 非 0 可以表示 true"]' :a="[1,2]" s="	"></cbx>
	
下列定义 boolean 类型变量, 语法正确的是:
	<cbx :v='["boolean a = true;"
	,"boolean b = 真;"
	,"boolean c = 1;"
	,"boolean d = 1 > 2;"]' :a="[0,3]" s="	"></cbx>
</pre>

<pre>
<h3>char类型</h3>
下列关于 char 类型说法错误的是:
	<cbx :v='["其实就是一个无符号的16位整形，其范围为 -32768~32767"
	,"用来存储该字符的 Unicode编码值"
	,"因为Unicode 编码中包含汉字的编码，所以一个char类型的变量也可以存储一个汉字字符"
	,"在代码中直接给出的一个字符值必须用双引号括起来"
	,"可以把char类型数据当作整数数据来操作"]' :a="[0,3]" s="	"></cbx>
	
下列定义 char 类型变量, 语法正确的是:
	<cbx :v="['char zhChar = \'中\';'
	,'char nmChar = 69;'
	,'char enChar = \'a\';'
	,'char enChar = \'\\r\';'
	,'char ucChar = \'\\u0060\'']" :a="[0,1,2,3,4]" s="	"></cbx>
</pre>

<pre>
<h3>整数类型: byte, short, int, long</h3>
下列关于整数类型说法正确的是:
	<cbx :v='["有三种形式可以给一个整形变量直接赋值: 8进制, 10进制, 16进制"
	,"8进制是在数字前加 0x, 16进制是在数字前加 0"
	,"直接给出的值默认是int类型"
	,"char 也属于整数类型"
	,"长整形值应该在数字后面跟上 ‘l’ 或 ‘L’标示"]' :a="[0,2,4]" s="	"></cbx>
	
下列定义整数类型变量, 语法正确的是:
	<cbx :v="['int a = 100;'
	,'byte b = 128;'
	,'long c = 100L;'
	,'short d = 1 + 2;'
	,'long e = 50.9;']" :a="[0,2,3]" s="	"></cbx>
</pre>

<pre>
<h3>浮点数类型: float 和 double</h3>
下列关于浮点数类型说法正确的是:
	<cbx :v='["浮点数用于表示带小数的数值, 默认的浮点数类型是 float"
	,"直接表示一个float 类型的值必须在数字后跟 ‘f’ 或‘F’"
	,"直接表示一个double 类型的值可以在数字后跟‘d’ 或‘D’"
	,"浮点数可以精确的表示所有有效范围内的数值"
	,"可以用科学计数法表示，如：123.456e3或123.456E3"]' :a="[0,1,2,4]" s="	"></cbx>
	
关于浮点数的进度问题, 请编写以下的代码并运行, 一定会让你的脑洞大开
	float f = 1234567831239f; // 值要足够大
	float f1 = f + 1;
	boolean res = f == f1;
	System.out.println("f == f1 结果为: " + ( res ) );
	// 请问 res 的值是 true 还是 false: <cbx :v='[true,false]' :a='[0]'></cbx>
	float f2 = 0.1 + 0.2;
	// 请填写 f2 的值 : <ipt a="0.30000000000000004"></ipt>
	
下列定义浮点数类型变量, 语法错误的是:
	<cbx :v="['float a = 1.1;'
	,'float b = 1.1f;'
	,'double c = 1.1;'
	,'double d = 1.1d;'
	,'double e = -1.1e20']" :a="[0]" s="	"></cbx>
	
有浮点数定义: double a = 3e2; 请问 a 的值是: 
	<cbx :v="['3','6','9','300','600']" :a="[3]"></cbx>
</pre>

<pre>
<h3>数据类型转</h3>
程序中经常会遇到要将数据类型进行转换的情况（如：在一个表达式中存在不同类型的操作数时），Java的数据类型转换比C控制得更为严格；
数据类型转换有两种情况, 分别是: 
	<ipt a="自动"></ipt>类型转换, 又称为隐式转换
	<ipt a="强制"></ipt>类型转换, 又称为显式转换

将一种类型的变量赋值给另一种类型的变量时，只要满足以下 (      ) 条件，就会发生自动类型转换：
	<cbx :v='["两种类型之间相互兼容"
	,"两种类型之间相互不兼容"
	,"目标类型大于源类型（即类型提升）"
	,"目标类型小于于源类型（即类型降低）"]' :a="[0,2]" s="	"></cbx>

下列哪个转换会出错 ( 自动转换失败 )
	<cbx :v="['int a = 1; short b = a;'
	,'int a = 1; float b = a;'
	,'float a = 1; double b = a;'
	,'char a = 1; int b = a;'
	,'byte a = 1; short b = a;']" :a="[0]" s="	"></cbx>

关于强制类型转换, 下面说法正确的有: 
	<cbx :v='["必须是类型兼容的两钟类型"
	,"被转换的值的数据类型大于其目标类型，可能将会丢失部分信息"
	,"浮点数转整数，将会丢失小数部分"
	,"布尔类型转成其他类型"]' :a="[0,1,2]" s="	"></cbx>

请问下列哪些数据类型转换 ,是必须并且能够强制转换成功的 ? 
	<cbx :v='[" int 转 float"
	,"short 转 byte"
	,"boolean 转 byte"
	,"char 转 int"
	,"char 转 byte"]' :a="[1,4]" s="	"></cbx>
</pre>

<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
</div>
<script type="text/javascript">
new Vue({el:"#pres"});
</script>
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->

<div id="main">
	<fieldset class="alist">
		<legend>答题结果</legend>
		<div style="display: table;width: 100%">
			<div style="display: table-cell;vertical-align: middle;">
				<span class="res" v-for="q,i in questions">
					题{{i+1}}: <b style="color: red">{{q.result?'对':''}}</b>
				</span>
			</div>
			<div style="display: table-cell; width: 150px; text-align: center;">
				<button @click="commit" :disabled="finish==false">提交答卷</button>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>题目: </legend>
		<div class="qlist">
		<dl v-for="q,i in questions">
			<dt>第{{i+1}}题 <b style="color: red;">{{q.result?'对':''}}</b>
				<button @click="q.test()" style="float: right">检 查</button><br>
			</dt>
			<dd @click="a(q)">
				<pre v-html="q.content"></pre>
			</dd>
			<dd v-if="q.expect">
				正确的结果: <span>{{q.expect}}</span><br>
				你写的结果: <span>{{q.resultText}}</span>
			</dd>
		</dl>
		</div>
	</fieldset>
</div>
</body>
<script type="text/javascript" src="../../../../_js/q.js"></script>
</html>