<!DOCTYPE html>
<html style="height: 100%">
<head>
<base target="_blank">
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<title>练习题</title>
<script src="/C0-S2-Ply-demo/_js/vue.min.js"></script>
<link rel="stylesheet" type="text/css" href="/C0-S2-Ply-demo/_css/q.css">
<script type="text/javascript" src="/C0-S2-Ply-demo/_js/pub.js"></script>
</head>
<body>
<div style="display: none;" id="pres">
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
<pre>
<h3>程序流程语句</h3>
一般情况下，程序是从上往下依次顺序执行的；
但很多时候，我们需要改变程序执行的流程，这就使用到了控制流语句；
控制流语句包括:
	<cbx :v="['跳转语句','判断语句','错误流程','循环语句']" :a="[0,1,3]"></cbx>
</pre>

<pre>
<h3>判断语句</h3>
判断语句也称作条件语句或分支语句；
判断语句主要用来控制程序在何种情况下执行某一部分；
判断语句包括：
	<cbx :v="['if语句','if…else语句','if…else if语句','while语句','switch…case语句']" :a="[0,1,2,4]" s="	"></cbx>

if语句中 (   ) 允许出现多次, 或者一次都不出现的是:
	<cbx :v="['if','else if','else','case']" :a="[1]"></cbx>

if语句中 (   ) 只允许一次, 或者一次都不出现的是:
	<cbx :v="['if','else if','else','default']" :a="[2]"></cbx>

switch语句中 (   ) 表示默认分支:
	<cbx :v="['case','return','default','switch']" :a="[2]"></cbx>
	
编程练习1:
	需求: 任意给出一个年份, 请判断是否为闰年, 闰年必须满足以下规则
	1. 能被 400 整除
	2. 能被 4整除但不能被 100 整除
	
编程练习2:
	在美国，纳税人根据其收入和婚姻状况，按不同的税率缴纳联邦个人所得税。有两种主要的税表，一种用于单身纳税人，一种是合报的已婚纳税人.
	税收规则参考下图:
	<img src="_images/分支-税收.png" height="200px">
</pre>

<pre>
<h3>循环语句</h3>
循环语句也称作迭代语句；
循环语句可用于重复执行相同的操作；
循环语句包括：
	<cbx :v="['if语句','while语句','do…while语句','for语句']" :a="[1,2,3]" s="	"></cbx>
	
跳转语句允许以非线性的方式执行程序，可以将控制权转到程序的其它部分；注意 : Java抛弃了C语言中的goto语句
跳转语句包括：
	<cbx :v="['back','break','goto','continue']" :a="[1,3]"></cbx>
	
	<ipt a="conitnue" w="5" placeholder="填写关键字"></ipt> 用于不再执行循环体中continue语句之后的代码，直接进行下一次循环
	<ipt a="break" w="5" placeholder="填写关键字"></ipt> 用于直接跳出当前循环体
	
	编程练习1:  一个初始余额为10000元，利率为5%的银行帐户。每年年底按照当前余额计算利息，然后一并存入银行帐户中。求余额要达到20000元需要多少年?(用while完成)
	编程练习2: 判断一个数是否为奇数
	编程练习3: 求第100个奇数
	编程练习4: 求1-100之间奇数的和.
</pre>

<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
</div>
<script type="text/javascript">
new Vue({el:"#pres"});
</script>
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->

<div id="main">
	<fieldset class="alist">
		<legend>答题结果</legend>
		<div style="display: table;width: 100%">
			<div style="display: table-cell;vertical-align: middle;">
				<span class="res" v-for="q,i in questions">
					题{{i+1}}: <b style="color: red">{{q.result?'对':''}}</b>
				</span>
			</div>
			<div style="display: table-cell; width: 150px; text-align: center;">
				<button @click="commit" :disabled="finish==false">提交答卷</button>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>题目: </legend>
		<div class="qlist">
		<dl v-for="q,i in questions">
			<dt>第{{i+1}}题 <b style="color: red;">{{q.result?'对':''}}</b>
				<button @click="q.test()" style="float: right">检 查</button><br>
			</dt>
			<dd @click="a(q)">
				<pre v-html="q.content"></pre>
			</dd>
			<dd v-if="q.expect">
				正确的结果: <span>{{q.expect}}</span><br>
				你写的结果: <span>{{q.resultText}}</span>
			</dd>
		</dl>
		</div>
	</fieldset>
</div>
</body>
<script type="text/javascript" src="/C0-S2-Ply-demo/_js/q.js"></script>
</html>