<!DOCTYPE html>
<html style="height: 100%">
<head>
<base target="_blank">
<meta charset="UTF-8">
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<title>练习题</title>
<script src="/C0-S2-Ply-demo/_js/vue.min.js"></script>
<link rel="stylesheet" type="text/css" href="/C0-S2-Ply-demo/_css/q.css">
<script type="text/javascript" src="/C0-S2-Ply-demo/_js/pub.js"></script>
</head>
<body>
<div style="display: none;" id="pres">
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
<pre>
<h3>数组</h3>
<judge t w="400px">数组用于将相同类型的数据存储在连续的存储单元中</judge>
<judge t w="400px">可以通过指定数组的名称和长度来声明数组</judge>
<judge t w="400px">一旦声明数组的大小，就不能再修改</judge>
<judge t w="400px">数组元素通过数组名和索引来访问，索引从0开始</judge>
<judge t w="400px">数组可以是一维，也可以是多维</judge>
</pre>

<pre>
<h3>new关键字</h3>
<judge t w="400px">在Java中，不允许将数组分配在栈内存中，只能分配在堆内存中</judge>
<judge t w="400px">new是Java中内置的操作符</judge>
<judge t w="400px">new操作符用来从堆中分配指定类型的内存空间，并返回相应类型的引用</judge>
<judge t w="400px">首次创建数组时，所有值均初始化为0(int[]或double[])、false(boolean[])、null(引用类型)</judge>
</pre>

<pre>
<h3>关于数组长度</h3>
<judge t w="400px">在Java中数组自带的length属性将负责保管数组的长度</judge>
<judge t w="400px">在Java中如果试图访问不在有效索引以内的元素，将会引发数组越界错误</judge>
</pre>

<pre>
<h3>二维数组</h3>
<judge t w="400px">值由行和列构成的, 我们称为二维数组或矩阵</judge>
<judge t w="400px">在构造二维数组时，应确定所需要的行和列</judge>
例如:
   int rows=3;
   int columns=3;
   String[][] board = new String[ rows ][ columns ];

<judge t w="400px">为访问一个特定的二维数组元素，应指定两个下标</judge>
例如:
   board[ 2 ][ 1 ] = “X”;

<judge t w="400px">访问二维数组元素必须使用嵌套循环</judge>

</pre>
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
</div>
<script type="text/javascript">
new Vue({el:"#pres"});
</script>
<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->

<div id="main">
	<fieldset class="alist">
		<legend>答题结果</legend>
		<div style="display: table;width: 100%">
			<div style="display: table-cell;vertical-align: middle;">
				<span class="res" v-for="q,i in questions">
					题{{i+1}}: <b style="color: red">{{q.result?'对':''}}</b>
				</span>
			</div>
			<div style="display: table-cell; width: 150px; text-align: center;">
				<button @click="commit" :disabled="finish==false">提交答卷</button>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>题目: </legend>
		<div class="qlist">
		<dl v-for="q,i in questions">
			<dt>第{{i+1}}题 <b style="color: red;">{{q.result?'对':''}}</b>
				<button @click="q.test()" style="float: right">检 查</button><br>
			</dt>
			<dd @click="a(q)">
				<pre v-html="q.content"></pre>
			</dd>
			<dd v-if="q.expect">
				正确的结果: <span>{{q.expect}}</span><br>
				你写的结果: <span>{{q.resultText}}</span>
			</dd>
		</dl>
		</div>
	</fieldset>
</div>
</body>
<script type="text/javascript" src="/C0-S2-Ply-demo/_js/q.js"></script>
</html>